<div class="container">
  <div class="row">
    <div class="col">

      <ng-container *ngIf="!isOnline && !todayItemsView">
        <div class="row message">
          <div class="col">
            <span>You are offline. Waiting for connection...</span>
          </div>
        </div>
      </ng-container>

      <ng-template *ngIf="!isOnline && todayItemsView; then showItems"></ng-template>

      <ng-container *ngIf="isOnline && todayItemsViewFirstLoading$ | async">
        <div class="row message">
          <div class="col">
            <app-loading-text></app-loading-text>
          </div>
        </div>
      </ng-container>

      <ng-template *ngIf="isOnline && todayItemsView && !(todayItemsViewFirstLoading$ | async); then showItems"></ng-template>

      <ng-template #showItems>

        <ng-container *ngIf="todayItemsView.length > 0">
          <div class="time-of-day-row"
               *ngFor="let todayItem of todayItemsView; let i = index; trackBy: trackByTodayItems">

            <div class="row">
              <div class="col">
              <span><fa-icon [hidden]="!todayItemIsDone(todayItem.timeOfDay)" [icon]="faCheckCircle"></fa-icon>
                {{todayItem.timeOfDay}}</span>
              </div>
            </div>

            <div class="row tasks">
              <div class="col">
                <div class="form-check" *ngFor="let button of todayItem.tasks; let j = index; trackBy: trackByTodayItem">

                  <button *ngIf="button.done"
                          mat-flat-button
                          [color]="'primary'"
                          [disabled]="false"
                          (click)="setProgress(button, $event)">
                    {{ button.description }}
                  </button>

                  <button *ngIf="!button.done"
                          mat-stroked-button
                          [disabled]="false"
                          (click)="setProgress(button, $event)">
                    {{ button.description }}
                  </button>
                </div>
              </div>
            </div>

          </div>
        </ng-container>

        <ng-container *ngIf="todayItemsView.length === 0">
          <div class="row message">
            <div class="col">
              <span>Add some tasks for {{todayFullName$ | async}}</span>
            </div>
            <div class="col">
              <div class="add-task">
                <button mat-flat-button
                        color="primary"
                        (click)="addNewTask()">Add new task
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
