.container {
  margin: 0 auto 1rem;
  padding: 1rem;

  .col .row {
    &.message {
      padding: 1rem;
    }

    .add-task {
      text-align: right;
    }
  }

  .time-of-day-row {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;

      .row:first-child .col {
        margin-top: 1rem;
      }
    }

    .row {

      &:first-child .col {
        margin-top: 2rem;
      }

      .col {
        margin-top: 1rem;

        .form-check {
          display: inline-flex;
          position: relative;
          padding: 0;

          .mat-mdc-button-base {
            margin: 0.15rem;
          }
        }
      }

      span {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }
}
