:root {
  --app-skeleton-background-begin: white;
  --app-skeleton-background-end: silver;
}

.app-skeleton {
  display: block;
  background: var(--app-skeleton-background-begin);
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  border-radius: 3px;
  width: 100%;
}
