<div class="container">
  <div class="row">
    <div class="col">
      <div class="round-nav">
        <button [routerLink]="'./' + _RouterDict.todayTasks" routerLinkActive="active" (mousedown)="_todayTasksViewActive(); mouseDown()" (mouseup)="_todayTasksViewActive(); mouseUp()">Today</button>
        <button [routerLink]="'./' + _RouterDict.tasksList" routerLinkActive="active">Tasks</button>
        <button [routerLink]="'./' + _RouterDict.taskEditor" routerLinkActive="active">Editor</button>
        <button [routerLink]="'./' + _RouterDict.timesOfDayOrder" routerLinkActive="active">Order</button>
      </div>
    </div>
  </div>
</div>
