@if (!_isOnline() && !_tasks()) {
  <div class="app-tasks-list__communicate">
    <div class="app-tasks-list__communicate__description">You are offline. Waiting for connection...</div>
  </div>
}

@defer (when !!_tasks()) {
  <ng-template *ngTemplateOutlet="showItems"></ng-template>
} @placeholder {
  @defer (when _isOnline() && _tasksLoading(); on timer(250ms)){
    <table class="app-tasks-list__table">
      <thead>
        <tr>
          <th><app-skeleton width="65px" height="16px"/></th>
          <th><app-skeleton width="28px" height="16px"/></th>
          <th><app-skeleton width="71px" height="16px"/></th>
          <th [ngStyle]="{width: '39px'}"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><app-skeleton width="100px" height="19px"/></th>
          <th><app-skeleton width="61px" height="19px"/></th>
          <th><app-skeleton width="72px" height="19px"/></th>
          <th><app-skeleton width="16px" height="19px"/></th>
        </tr>
      </tbody>
    </table>
  }
}

<ng-template #showItems>

  @if (_tasks(); as tasks) {

    @if (tasks.length > 0) {

      @if ((_round()!.timesOfDay || []); as timesOfDay) {
        <table class="app-tasks-list__table" [@fadeZoomInOutTrigger]>

          <thead>
            <tr>
              <th>Description</th>
              <th>Days</th>
              <th>Times of day</th>
              <th [ngStyle]="{width: '39px'}"></th>
            </tr>
          </thead>
          <tbody>
            @for (task of tasks; track task) {
              <tr>
                <th>{{ task.description }}</th>
                <th>{{ getDaysOfTheWeek(task.daysOfTheWeek) }}</th>
                <th>{{ getTimesOfDay(timesOfDay, task.timesOfDay).join(', ') }}</th>
                <th class="edit-button" (click)="goToTask(task.id)"><fa-icon [icon]="_faEdit"></fa-icon></th>
              </tr>
            }
          </tbody>
        </table>
      }

      <div class="app-tasks-list__communicate__button__wrapper">
        <button
          class="app-tasks-list__communicate__button"
          app-button
          appearance="primary"
          (click)="goToTask()"
        >Add new</button>
      </div>

    } @else {

      <div class="app-tasks-list__communicate" [@fadeZoomInOutTrigger]>
        <div class="app-tasks-list__communicate__header">There is no tasks</div>
        <button
          class="app-tasks-list__communicate__button"
          app-button
          appearance="primary"
          (click)="goToTask()"
        >Add new task</button>
      </div>
    }
  }
</ng-template>
