<div class="container">
  <div class="col">

    @if (!_isOnline() && !_tasks()) {
      <div class="row message">
        <div class="col">
          <span>You are offline. Waiting for connection...</span>
        </div>
      </div>
    }

    @defer (when !!_tasks()) {
      <ng-template *ngTemplateOutlet="showItems"></ng-template>
    } @placeholder {
      @defer (on timer(250ms)){
        <div class="row message">
          <div class="col">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      }
    }

    <ng-template #showItems>

      @if (_tasks(); as tasks) {

        @if (tasks.length > 0) {

          <div class="row" [@fadeZoomInOutTrigger]>

            @if ((_round()!.timesOfDay || []); as timesOfDay) {
              <table mat-table [dataSource]="_tasks()!">

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let element">{{ element.description }}</td>
                </ng-container>

                <ng-container matColumnDef="daysOfTheWeek">
                  <th mat-header-cell *matHeaderCellDef>Days</th>
                  <td mat-cell *matCellDef="let element">{{ getDaysOfTheWeek(element.daysOfTheWeek) }}</td>
                </ng-container>

                <ng-container matColumnDef="timesOfDays">
                  <th mat-header-cell *matHeaderCellDef>Times of day</th>
                  <td mat-cell *matCellDef="let element">{{ getTimesOfDay(timesOfDay, element.timesOfDay).join(', ') }}</td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell class="edit-button" *matCellDef="let element" (click)="goToTask(element.id)">
                    <fa-icon [icon]="_faEdit"></fa-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>

              </table>
            }

            <div class="add-task-button">
              <button mat-flat-button
                      color="primary"
                      (click)="goToTask()">Add new</button>
            </div>
          </div>

        } @else {

          <div class="row message" [@fadeZoomInOutTrigger]>
            <div class="col">
              <span>Add some tasks to this empty list</span>
            </div>
            <div class="col">
              <div class="add-task">
                <button mat-flat-button
                        color="primary"
                        (click)="goToTask()">Add new task
                </button>
              </div>
            </div>
          </div>
        }
      }
    </ng-template>
  </div>
</div>
