<div class="container">
  <div class="col" [formGroup]="taskForm">
    <div class="row">
      <div class="col">
        <mat-form-field class="form-group">
          <mat-label>Description</mat-label>
          <input autocomplete="off" matInput formControlName="description">
          <mat-error *ngIf="!taskForm.disabled && !taskForm.get('description').valid && (taskForm.get('description').dirty || taskForm.get('description').touched)">
            Enter description from 4 to 40 characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <small
      class="form-text text-center text-muted"
      [ngClass]="!taskForm.disabled && !taskForm.get('daysOfTheWeek').valid && taskForm.get('daysOfTheWeek').dirty ? 'error' : ''"
    >Click and select at least one day</small>
    <div class="row">
      <div formGroupName="daysOfTheWeek" class="col offset-md-0 text-center">

        <div *ngFor="let dayOfTheWeek of ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'];" class="form-check">
          <input
            #inputRef
            type="checkbox"
            class="form-check-input d-none"
            [attr.id]="'dayOfTheWeek'+dayOfTheWeek"
            [formControlName]="dayOfTheWeek"
            [checked]="taskForm.get('daysOfTheWeek').get(dayOfTheWeek).value == true"
            >
          <label
            class="form-check-label btn"
            [ngClass]="inputRef.checked ? 'btn-outline-dark shadow' : 'border rounded'"
            [attr.for]="'dayOfTheWeek'+dayOfTheWeek"
          >{{dayOfTheWeek | titlecase}}</label>
        </div>

      </div>
    </div>
    <small
      class="form-text text-center text-muted"
      [ngClass]="!taskForm.disabled && !taskForm.get('timesOfDay').valid && taskForm.get('timesOfDay').dirty ? 'error' : ''"
    >Add own times of day up to 20 for all tasks</small>
    <small class="form-text text-center text-muted">Click one to remove</small>

    <div class="row">
      <div formGroupName="timesOfDay" class="col text-center">
        <div *ngFor="let timeOfDay of timesOfDay;" class="form-check">
          <input
            type="checkbox"
            class="form-check-input d-none"
            [attr.id]="'timesOfDay'+timeOfDay"
            [formControlName]="timeOfDay"
            [value]="true"
            (click)="removeTimeOfDay(timeOfDay)"
          >
          <label
            class="form-check-label btn"
            [ngClass]="'btn-outline-dark'"
            [attr.for]="'timesOfDay'+timeOfDay">
            {{timeOfDay}}</label>
        </div>
        <button [disabled]="taskForm.disabled" class="btn btn-secondary" (click)="openDialog()">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col text-center">
        <button
          class="btn btn-primary border-primary shadow"
          type="submit"
          [disabled]="taskForm.disabled || taskForm.invalid || getDeepEqual()"
          (click)="saveTask()"
        >{{ idIsNull() ? 'Create' : 'Save' }}&nbsp;<i class="fas fa-check-circle"></i>
          <mat-progress-bar *ngIf="savingInProgress" mode="indeterminate"></mat-progress-bar>
        </button>
        <button
          class="btn btn-secondary border rounded-0 shadow"
          type="button"
          (click)="cancelTask()"
        >Close</button>
        <button
          class="btn btn-outline-danger border rounded-0"
          type="button"
          [disabled]="taskForm.disabled || idIsNull()"
          (click)="deleteTask()"
        >Delete<mat-progress-bar *ngIf="deletingInProgress" mode="indeterminate"></mat-progress-bar></button>
      </div>
    </div>
  </div>
</div>
