rules_version = '2';

service cloud.firestore {
	match /databases/{database}/documents/users/{userId} {

    function isOwner() {
      return userId == request.auth.uid
    }

    match /today/{day}/task/{taskId} {
      allow get: if isOwner()
      allow list: if isOwner()
        && request.query.orderBy.description == 'ASC'
      	&& request.query.limit == 50 * 20

      // set progress
      allow update: if isOwner()
        && exists(/databases/$(database)/documents/users/$(userId)/task/$(taskId))
        && request.resource.data.diff(resource.data).affectedKeys() == ['timesOfDay'].toSet()
        && request.resource.data.timesOfDay.diff(resource.data.timesOfDay).affectedKeys().size() == 1
        && request.resource.data.timesOfDay.values().toSet().hasOnly([true, false])
    }

    match /task/{taskId} {
    	allow get: if isOwner()
      allow list: if
      	isOwner()
      	&& request.query.orderBy.description == 'ASC'
      	&& request.query.limit == 50
    }

    match /timesOfDay/{timesOfDayId} {
      allow list: if isOwner()
      	&& request.query.orderBy.position == 'ASC'
      	&& request.query.limit == 20
    }

  }

}