// https://firebase.google.com/docs/firestore/pricing#firestore-rules
// You are only charged one read per dependent document even if your rules refer to that document more than once

rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents/users/{userId} {

    function isOwner() {
      return userId == request.auth.uid;
    }

    allow get: if isOwner();

    match /rounds/{roundId} {

      allow get: if isOwner();
      allow list: if isOwner() && request.query.limit == 5;

      match /todays/{day} {

        allow list: if isOwner();

        match /todayTasks/{taskId} {

          allow list: if isOwner() && request.query.limit == 25;

          // set progress
          allow update: if (
            isOwner() &&
            exists(/databases/$(database)/documents/users/$(userId)/rounds/$(roundId)/tasks/$(taskId)) &&
            request.resource.data.diff(resource.data).affectedKeys() == ['timesOfDay'].toSet() &&
            request.resource.data.timesOfDay.diff(resource.data.timesOfDay).affectedKeys().size() == 1 &&
            request.resource.data.timesOfDay.diff(resource.data.timesOfDay).changedKeys().size() == 1 &&
            request.resource.data.timesOfDay.values().toSet().hasOnly([true, false])
          );
        }
      }

      match /tasks/{taskId} {
        allow get: if isOwner();
        allow list: if isOwner() && request.query.limit == 25;
      }
    }
  }
}
