<form [formGroup]="_registerForm">

  <div class="input-group email">
    <app-input
      label="Email"
      formControlName="email"
      type="email"
    />
    @if (!_registerForm.disabled && !_email?.valid && !_email?.untouched) {
      <span class="input-error">Enter email</span>
    }
  </div>

  <div class="input-group password">
    <app-input
      label="Password"
      formControlName="password"
      type="password"
    />
    @if (!_registerForm.disabled && !_password?.valid && !_password?.untouched) {
      <span class="input-error">Enter password</span>
    }
  </div>

  <div class="input-group confirm-password">
    <app-input
      label="Confirm password"
      formControlName="confirmPassword"
      type="password"
    />
    @if (!_registerForm.disabled && !_confirmPassword?.valid && !_confirmPassword?.untouched) {
      <span class="input-error">Enter password</span>
    }
  </div>

  <mat-progress-bar [style.opacity]="_registerForm.disabled ? '1' : '0'" mode="indeterminate"></mat-progress-bar>

  <div class="action-buttons">
    <button
      app-button
      appearance="primary"
      [disabled]="_registerForm.disabled || _registerForm.invalid || !_isOnline()"
      (click)="register()">Login</button>
  </div>

</form>
