<div class="title">
  <fa-icon [icon]="_faGear" [ngStyle]="{marginRight: '0.5rem'}"></fa-icon>
  Setting
</div>

@if (_user$ | async; as user) {
  @if (_firebaseUser$ | async; as firebaseUser) {

    <div class="section">
      <div class="title">Basic info</div>
      <div class="items">
        <div class="item">
          <div class="name">Provider</div>
          <div class="data" [innerHTML]="firebaseUser.providerId"></div>
        </div>
        <div class="item photo">
          <div class="name">
            <span>Photo</span>
            @if (!!user.photoURL && user.hasCustomPhoto && !_isPhotoUploading()) {
              <div (click)="removePhoto()" class="mat-chip-close">
                <img src="assets/img/chip-close.svg">
              </div>
            }
          </div>
          <div class="data photo">
            <label [ngClass]="{'photo-uploading': _isPhotoUploading()}">

              @if (user.photoURL) {
                <img [internalImgSecure]="user.photoURL"/>
              }

              @if (!user.photoURL) {
                <fa-icon [icon]="_faUser"></fa-icon>
              }

              <input hidden [disabled]="_isPhotoUploading()" type="file" (change)="fileChange($event)" accept=".jpg,.jpeg,.png">

              @if (_isPhotoUploading()) {
                <mat-spinner [diameter]="40"></mat-spinner>
              }

            </label>
          </div>
        </div>

        @if (!firebaseUser.isAnonymous) {
          <div class="item">
            <div class="name">Name</div>
            <div class="data" [innerHTML]="firebaseUser.displayName"></div>
          </div>
          <div class="item">
            <div class="name">Email</div>
            <div class="data" [innerHTML]="firebaseUser.email"></div>
          </div>
        }
      </div>
    </div>

    <!-- User by password -->

    @if (!firebaseUser.isAnonymous && firebaseUser.providerId === 'password') {
      <mat-expansion-panel class="section">
        <mat-expansion-panel-header class="title advanced">
          <mat-panel-title>Change password</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="items">
          <div class="item">
            <app-new-password></app-new-password>
          </div>
        </div>
      </mat-expansion-panel>
    }

    <mat-expansion-panel class="section">
      <mat-expansion-panel-header class="title advanced">
        <mat-panel-title>Advanced</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="items">
        <div class="item close-account">
          <div class="name">Delete account :(</div>
          <a class="data" (click)="openRemoveAccountConfirmPrompt()">I'm not quite sure</a>
        </div>
      </div>
    </mat-expansion-panel>

    <div mat-dialog-actions>
      <button mat-flat-button color="primary" (click)="_dialogRef.close()">Close</button>
    </div>
  }
}
