<div class="title">
  <fa-icon [icon]="faGear" [ngStyle]="{marginRight: '0.5rem'}"></fa-icon>
  Setting
</div>

@if (user(); as user) {
  <div class="section">
    <div class="title">Basic info</div>
    <div class="items">
      <div class="item">
        <div class="name">Provider</div>
        <div class="data" [innerHTML]="user.providerId"></div>
      </div>
      <div class="item photo">
        <div class="name">
          <span>Photo</span>
          @if (user.hasCustomPhoto && !isPhotoUploading()) {
            <div (click)="removePhoto()" class="mat-chip-close">
              <img src="../../../assets/img/chip-close.svg">
            </div>
          }
        </div>
        <div class="data photo">
          <label [ngClass]="{'photo-uploading': isPhotoUploading()}">

            @if (user.photoURL) {
              <img [internalImgSecure]="user.photoURL"/>
            }

            @if (!user.photoURL) {
              <fa-icon [icon]="faUser"></fa-icon>
            }

            <input hidden [disabled]="isPhotoUploading()" type="file" (change)="fileChange($event)" accept=".jpg,.jpeg,.png">

            @if (isPhotoUploading()) {
              <mat-spinner [diameter]="40"></mat-spinner>
            }

          </label>
        </div>
      </div>

      @if (!user.isAnonymous) {
        <div class="item">
          <div class="name">Name</div>
          <div class="data" [innerHTML]="user.firebaseUser!.displayName"></div>
        </div>
        <div class="item">
          <div class="name">Email</div>
          <div class="data" [innerHTML]="user.firebaseUser!.email"></div>
        </div>
      }
    </div>
  </div>

  <!-- User by password -->

  @if (!user.isAnonymous && user.providerId === 'password') {
    <mat-expansion-panel class="section">
      <mat-expansion-panel-header class="title advanced">
        <mat-panel-title>Change password</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="items">
        <div class="item">
          <app-new-password></app-new-password>
        </div>
      </div>
    </mat-expansion-panel>
  }

  <div class="section">
    <div class="title">Privacy</div>
    <div class="items">
      <div class="item">
        <div class="name">Cookiebot</div>
        <a class="data" (click)="cookiebotRenew()">Open</a>
      </div>
    </div>
  </div>

  <mat-expansion-panel class="section">
    <mat-expansion-panel-header class="title advanced">
      <mat-panel-title>Advanced</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="items">
      <div class="item close-account">
        <div class="name">Delete account :(</div>
        <a class="data" (click)="openRemoveAccountConfirmPrompt()">I'm not quite sure</a>
      </div>
    </div>
  </mat-expansion-panel>

  <div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="dialogRef.close()">Close</button>
  </div>
}
