<form [formGroup]="_newPasswordForm">
  <mat-form-field>
    <mat-label>New password</mat-label>
    <input autocomplete="off" matInput formControlName="newPassword" type="password">
    @if (!_newPasswordForm.disabled && !_newPassword.valid && (_newPassword.dirty || !_newPassword.untouched)) {
      <mat-error>Enter new password</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm new password</mat-label>
    <input autocomplete="off" matInput formControlName="confirmNewPassword" type="password">
    @if (!_newPasswordForm.disabled && !_confirmNewPassword.valid && (_confirmNewPassword.dirty || !_confirmNewPassword.untouched)) {
      <mat-error>Confirm new password</mat-error>
    }
  </mat-form-field>

  <button mat-flat-button
          color="primary"
          [disabled]="_newPasswordForm.disabled || _newPasswordForm.invalid || !_isOnline()"
          (click)="changePassword()">Change password</button>
</form>
