<form [formGroup]="_newPasswordForm">
  <app-form-field>
    <app-label>New password</app-label>
    <input autocomplete="off" appInput formControlName="newPassword" type="password">
    @if (!_newPasswordForm.disabled && !_newPassword.valid && !_newPassword.untouched) {
      <app-error>Enter new password</app-error>
    }
  </app-form-field>

  <app-form-field>
    <app-label>Confirm new password</app-label>
    <input autocomplete="off" appInput formControlName="confirmNewPassword" type="password">
    @if (!_newPasswordForm.disabled && !_confirmNewPassword.valid && !_confirmNewPassword.untouched) {
      <app-error>Confirm new password</app-error>
    }
  </app-form-field>

  <button
    app-button
    class="change-password-submit"
    [disabled]="_newPasswordForm.disabled || _newPasswordForm.invalid || !(_isOnline$ | async)"
    (click)="changePassword()">Change password</button>
</form>
