.container {
  margin: 0 auto 1rem;
  padding: 1rem;

  .col .row {
    &.message {
      padding: 1rem;
    }

    .add-task {
      text-align: right;
    }
  }

  .col.time-of-day-col {
    margin-bottom: 0;

    .time-of-day {
      margin-top: 2rem;

      &:first-child {
        margin-top: 1rem;
      }

      .title {
        font-size: 1.5rem;
        font-weight: 400;
      }

      .tasks {
        margin-top: 1rem;

        .form-check {
          display: inline-flex;
          position: relative;
          padding: 0;

          .mat-mdc-button-base {
            margin: 0.15rem;
          }
        }
      }
    }
  }
}
