<div class="container">
  <div class="row">
    <div class="col">

      @if (!_isOnline() && !_todayView()) {
        <div class="row message">
          <div class="col">
            <span>You are offline. Waiting for connection...</span>
          </div>
        </div>
      }

      @if (!_isOnline() && _todayView()) {
        <ng-template *ngTemplateOutlet="showItems"></ng-template>
      }

      @if (_isOnline() && _todayTasksLoading()) {
        <div class="row message">
          <div class="col">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      }

      @if (_isOnline() && _todayView() && !_todayTasksLoading()) {
        <ng-template *ngTemplateOutlet="showItems"></ng-template>
      }

      <ng-template #showItems>

        @if (_todayView() && _todayView()!.length > 0) {
            @for (todayItem of _todayView(); let i = $index; track i + todayItem.timeOfDay) {
              <div class="time-of-day-row">

                <div class="row">
                  <div class="col">
                  <span><fa-icon [hidden]="!todayItemIsDone(todayItem.timeOfDay)" [icon]="_faCheckCircle"></fa-icon>
                    {{todayItem.timeOfDay}}</span>
                  </div>
                </div>

                <div class="row tasks">
                  <div class="col">

                    @for (button of todayItem.tasks; let j = $index; track j + ('' + button.done) + button.description) {
                      <div class="form-check">

                        @if (button.done) {
                          <button mat-flat-button
                                  [color]="'primary'"
                                  [disabled]="false"
                                  (click)="setProgress(button, $event)">
                                  {{ button.description }}
                          </button>
                        }

                        @if (!button.done) {
                          <button mat-stroked-button
                                  [disabled]="false"
                                  (click)="setProgress(button, $event)">
                                  {{ button.description }}
                          </button>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
        }

        @if (_todayView() && _todayView()!.length === 0) {
          <div class="row message">
            <div class="col">
              <span>Add some tasks for {{_today()?.full}}</span>
            </div>
            <div class="col">
              <div class="add-task">
                <button mat-flat-button
                        color="primary"
                        (click)="addNewTask()">Add new task
                </button>
              </div>
            </div>
          </div>
        }
      </ng-template>
    </div>
  </div>
</div>
