<div class="container">
  <div class="row">
    <div class="col">

      @if (!_isOnline() && !_todayView()) {
        <div class="row message">
          <div class="col">
            <span>You are offline. Waiting for connection...</span>
          </div>
        </div>
      }

      @if (_isOnline() && _todayTasksLoading()) {
        @defer {
        } @loading (after 100ms; minimum 500ms) {
          <div class="row message">
            <div class="col">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </div>
        }
      } @else if (_isOnline()) {
        <ng-template *ngTemplateOutlet="showItems"></ng-template>
      }

      <ng-template #showItems>

        @if (_todayView(); as todayView) {

          @if (todayView.length > 0) {

            @for (todayItem of todayView; let i = $index; track i + todayItem.timeOfDay) {
              <div class="time-of-day-row" [@fadeZoomInOutTrigger]>

                <div class="row">
                  <div class="col">
                  <span><fa-icon [hidden]="!todayItem.done" [icon]="_faCheckCircle"></fa-icon>
                    {{todayItem.timeOfDay}}</span>
                  </div>
                </div>

                <div class="row tasks">
                  <div class="col">

                    @for (button of todayItem.tasks; let j = $index; track j + ('' + button.done) + button.description) {
                      <div class="form-check">

                        @if (button.done) {
                          <button mat-flat-button
                                  [color]="'primary'"
                                  [disabled]="false"
                                  (click)="setProgress(button, $event)">
                            {{ button.description }}
                          </button>
                        }

                        @if (!button.done) {
                          <button mat-stroked-button
                                  [disabled]="false"
                                  (click)="setProgress(button, $event)">
                            {{ button.description }}
                          </button>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
          }

          @if (todayView.length === 0) {

            <div class="row message" [@fadeZoomInOutTrigger]>
              <div class="col">
                <span>Add some tasks for {{_today()?.full}}</span>
              </div>
              <div class="col">
                <div class="add-task">
                  <button mat-flat-button
                          color="primary"
                          (click)="addNewTask()">Add new task
                  </button>
                </div>
              </div>
            </div>
          }
        }
      </ng-template>
    </div>
  </div>
</div>
