@if (!_isOnline() && !_todayView()) {
  <div class="app-today__communicate">
    <div class="app-today__communicate__description">You are offline. Waiting for connection...</div>
  </div>
}

@defer (when !!_todayView()) {
  <ng-template *ngTemplateOutlet="showItems"></ng-template>
} @placeholder {
  @defer (when _isOnline(); on timer(250ms)) {

  }
}

<ng-template #showItems>
  <div class="app-today__today-items">
    @if (_todayView(); as todayView) {

      @if (todayView.length > 0) {

        @for (todayItem of todayView; let i = $index; track i + todayItem.timeOfDay) {

          <div class="app-today__today-items__time-of-day" [@fadeZoomInOutTrigger]>

            <div class="app-today__today-items__time-of-day__title">
              <fa-icon [hidden]="!todayItem.done" [icon]="_faCheckCircle"/>
              {{todayItem.timeOfDay}}
            </div>

            <div [@fadeZoomInOutTrigger] class="app-today__today-items__time-of-day__tasks">

              @for (button of todayItem.tasks; let j = $index; track j + ('' + button.done) + button.description) {
                <div class="form-check">

                  @if (button.done) {
                    <button
                      class="app-today__today-items__time-of-day__tasks__button app-today__today-items__time-of-day__tasks__button--active"
                      [disabled]="false"
                      (click)="setProgress(button, $event)">
                      {{ button.description }}
                    </button>
                  }

                  @if (!button.done) {
                    <button
                      class="app-today__today-items__time-of-day__tasks__button app-today__today-items__time-of-day__tasks__button--inactive"
                      [disabled]="false"
                      (click)="setProgress(button, $event)">
                      {{ button.description }}
                    </button>
                  }
                </div>
              }
            </div>
          </div>
        }
      }

      @if (todayView.length === 0) {

        <div class="app-today__communicate">
          <div class="app-today__communicate__header">Add some tasks for {{_today()?.full}}</div>
          <button
            class="app-today__communicate__button"
            app-button
            appearance="primary"
            (click)="addNewTask()"
          >Add new task</button>
        </div>
      }
    }
    </div>
</ng-template>
