@use 'styles/typography-mixins' as typography-mixins;

.app-today {

  &__communicate {

    width: 100%;
    margin-top: 19px;

    &__header {
      text-align: center;
      margin-bottom: 8px;
      @include typography-mixins.heading-l();
    }

    &__description {
      text-align: center;
      margin-bottom: 8px;
    }

    &__button {
      margin: auto;
    }
  }

  &__today-items {

    margin-top: 30px;

    &:first-child {
      margin-top: 25px;
    }

    &__time-of-day {

      &__title {
        @include typography-mixins.heading-l();
        margin-bottom: 12px;
      }

      &__tasks {

        &__button {

          padding: 9px 17px;
          @include typography-mixins.body-m();
          @include typography-mixins.font-semibold();
          border-radius: 8px;

          &[disabled] {
            opacity: 0.6;
            pointer-events: none;
          }

          &--active {
            border: none;
          }

          &--inactive {
            border: solid 1px;
            background: transparent;
          }

        }
      }
    }
  }
}
