<h1 mat-dialog-title>Previously logged in</h1>

<app-loading-text *ngIf="firstLoading"></app-loading-text>
<p *ngIf="!storedUsers.length && !firstLoading">There is no one.</p>

<div class="users-list" *ngIf="storedUsers.length && !firstLoading">
  <div class="user" *ngFor="let user of storedUsers">

    <div class="user-data">
      <ng-container *ngIf="user.isAnonymous">
        <div>Anonymous</div>
      </ng-container>
      <ng-container *ngIf="!user.isAnonymous">
        <div>{{ user.displayName }}</div>
        <div>{{ user.email }}</div>
      </ng-container>
      <div>{{ user.lastSignInTime }}</div>
    </div>

    <button class="remove" mat-icon-button color="warn" aria-label="remove" (click)="removeUser(user.id)">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
</div>

<div mat-dialog-actions style="justify-content: flex-end;">
  <button mat-flat-button color="primary" (click)="dialogRef.close()">Close</button>
</div>
