<ng-template #closeButtonRef>
  <button (click)="closeView()" app-button appearance="secondary">Close</button>
</ng-template>

<div class="app-auth-form__nav">
  @for (form of _forms; track form.name) {
    <button
      class="app-auth-form__nav__button"
      [ngClass]="{'app-auth-form__nav__button--active': form.name === _selectedForm()}"
            (click)="_selectedForm.set(form.name)"
            [innerHTML]="form.label"></button>
  }
</div>

@switch (_selectedForm()) {
  @case ('login') { <app-login (doneEmitter)="closeView()"></app-login> }
  @case ('register') { <app-register (doneEmitter)="closeView()"></app-register> }
  @case ('send-password-reset-email') { <app-send-password-reset-email (doneEmitter)="closeView()"></app-send-password-reset-email> }
}
