@mixin theme($theme) {

  .app-input {

    $font-family: map-get($theme, 'font-family');
    $background-color: map-get($theme, 'background-color');
    $background-color-hover: map-get($theme, 'background-color-hover');
    $background-color-focus: map-get($theme, 'background-color-focus');
    $color: map-get($theme, 'color');
    $label-active-background: map-get($theme, 'label-active-background');
    $label-error-color: map-get($theme, 'label-error-color');
    $line-color: map-get($theme, 'line-color');
    $line-color-error: map-get($theme, 'line-color-error');
    $line-color-hover: map-get($theme, 'line-color-hover');
    $line-color-focus: map-get($theme, 'line-color-focus');
    $placeholder-color: map-get($theme, 'placeholder-color');

    &__input {

      font-family: $font-family;
      background-color: $background-color;
      border-bottom: solid 1px $line-color;
      color: $color;

      &::placeholder {
        font-family: $font-family;
        color: $placeholder-color;
      }

      &:hover {
        border-bottom: solid 1px $line-color-hover;
        background-color: $background-color-hover;
      }

      &:focus {
        border-bottom: solid 2px $line-color-focus;
        background-color: $background-color-focus;
      }

      &--error {

        border-bottom: solid 1px $line-color-error;

        &:hover {
          border-bottom: solid 1px $line-color-error;
        }

        &:focus {
          border-bottom: solid 2px $line-color-error;
        }
      }
    }

    &__label {

      font-family: $font-family;
      color: $color;

      &--active {
        top: -7px;
        font-size: 11px;
        background-color: $label-active-background;
      }

      &--error {
        color: $label-error-color;
      }
    }

    &--disabled {
      opacity: 0.6;
      cursor: default;
      pointer-events: none;
    }
  }
}
