<input
  type="text"
  class="app-input__input"
  [ngClass]="{'app-input__input--error': _errors$ | async}"
  (change)="_onChange($event)"
  (input)="_onInput($event)"
  (blur)="_onTouched()"
  (focus)="_onFocus()"
  [type]="type"
  [disabled]="disabled"
  [value]="_value$ | async"
  [placeholder]="(_placeholderActive$ | async) ? placeholder : ''"
/>

@if (label) {
  <div class="app-input__label" [ngClass]="{'app-input__label--active': _labelActive$ | async, 'app-input__label--error': _errors$ | async}">{{ label }}</div>
}
