@use 'styles/typography-mixins' as typography-mixins;

.app-input {

  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  &__input {

    @include typography-mixins.body-m();

    padding: 12px 15px 4px 15px;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: solid 1px;
    width: 100%;
    margin-bottom: 1px;

    &::placeholder {
      @include typography-mixins.body-m();
    }

    &:focus {
      outline: none;
      border-bottom: solid 2px;
      margin-bottom: 0;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__label {

    position: absolute;
    top: 8px;
    left: 15px;
    transition: all 133ms ease-in-out;

    &--active {
      top: -7px;
      font-size: 11px;
    }
  }

  &--disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
}
