<div class="container">
  <div class="col" [ngClass]="{'disabled': disabled}">

    <div *ngIf="todayOrderFirstLoading" class="row">
      <div class="col">
        <span>Loading...</span>
      </div>
    </div>

    <div *ngIf="isEmpty && !todayOrderFirstLoading" class="row">
      <div class="col">
        <span>There is no one</span>
      </div>
      <div class="col">
        <div class="add-task">
          <button class="btn btn-primary shadow" type="button" [routerLink]="['/user/task-editor']">Add new</button>
        </div>
      </div>
    </div>

    <div *ngIf="!isEmpty && !todayOrderFirstLoading">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of order" cdkDrag>{{item}}</div>
      </div>
    </div>

  </div>
</div>
