<div class="container">
  <div class="row">
    <div class="col d-flex">
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="app-name">Remember Me</span>
          <fa-icon [icon]="faTasks" class="d-block logo"></fa-icon>
          <span class="example-spacer"></span>

          <div *ngIf="isLoggedIn !== null">

            <div *ngIf="!isLoggedIn" class="d-flex align-items-center right">

              <button mat-flat-button
                      color="primary"
                      [matMenuTriggerFor]="menu"
                      [disabled]="!(isOnline$ | async) || whileLoginIn"
                      aria-label="Log in">
                <span class="loginButton">Log in <fa-icon [icon]="faEllipsisV" [ngStyle]="{marginLeft: '0.5rem'}"></fa-icon></span>
              </button>

              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item
                        [disabled]="!(isOnline$ | async) || whileLoginIn"
                        (click)="googleLogin()">
                  <span><fa-icon [icon]="faGoogle" [ngStyle]="{marginRight: '0.5rem'}"></fa-icon>Google</span>
                </button>

                <button mat-menu-item
                        [disabled]="!(isOnline$ | async) || whileLoginIn"
                        (click)="anonymouslyLogin()">
                  <span><fa-icon [icon]="faEyeSlash" [ngStyle]="{marginRight: '0.5rem'}"></fa-icon>Incognito</span>
                </button>
              </mat-menu>
            </div>

            <div *ngIf="isLoggedIn" class="d-flex align-items-center right">
              <img *ngIf="userPhoto" [matMenuTriggerFor]="menu" [src]="userPhoto"/>
              <div *ngIf="!userPhoto" [matMenuTriggerFor]="menu" class="no-photo"><fa-icon [icon]="faUser"></fa-icon></div>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="signOut()">Log out</button>
                <button mat-menu-item onclick="Cookiebot.renew();">Cookiebot</button>
              </mat-menu>
            </div>

          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</div>
