$overlay-backdrop-color: transparentize(#000000, 0.6);

@import '@angular/cdk/overlay/index';

@include overlay();

.cdk-dialog-container {

  z-index: -1;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}
