@mixin font-normal {
  font-weight: 400;
}

@mixin font-semibold {
  font-weight: 600;
}

@mixin heading-xl {
  font-size: 1.5rem;
}

@mixin heading-l {
  font-size: 1.25rem;
  font-weight: 400;
}

@mixin heading-m {
  font-size: 1.125rem;
}

@mixin body-l {
  font-size: 1rem;
}

@mixin body-m {
  font-size: 0.875rem;
}
