@import './fonts.scss';

:root {

  --white: #FFFFFF;
  --black: #FFFFFF;

  --sky-blue-10: #F2F7FF;
  --sky-blue-100: #DFEBFF;
  --sky-blue-200: #90BAFF;
  --sky-blue-500: #2C6FDD;

  --gray-10: #F8F5F5;
  --gray-25: #F9F9F9;
  --gray-50: #EFEFEF;
  --gray-100: #ECECEC;
  --gray-150: #EDEDED;
  --gray-200: #E4E4E4;
  --gray-300: #E0E0E0;
  --gray-400: #D9D9D9;
  --gray-500: #D4D4D4;
  --gray-600: #B0B0B0;
  --gray-650: #A3A3A3;
  --gray-700: #8E8E8E;
  --gray-750: #767676;
  --gray-770: #737373;
  --gray-800: #696969;
  --gray-820: #636363;
  --gray-900: #404040;
  --gray-990: #09090A;

  --teal-200: #99E3D3;
  --teal-400: #2CE0B6;
  --teal-600: #00BA91;
  --teal-800: #01493A;

  --lime-500: #DDEA32;

  --crimson-red-300: #FF6161;
  --crimson-red-600: #F51512;
  --crimson-red-800: #D91715;

  --steel-blue-100: #909CAF;
  --steel-blue-200: #8C98AD;
  --steel-blue-300: #808FA6;
  --steel-blue-500: #536279;
  --steel-blue-700: #2A3C57;
  --steel-blue-800: #2A384F;
  --steel-blue-900: #243146;
  --steel-blue-950: #222E42;
  --steel-blue-990: #1A2536;

  --stale-gray-200: #9EA5B0;
  --stale-gray-700: #394353;
  --stale-gray-800: #313A47;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--white);
  color: var(--gray-990);
}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

[popover] {
  overflow: hidden;
}

img, svg {
  display: block;
}

.svg-inline--fa {
  display: block;
  width: auto;
}

a {

  color: var(--sky-blue-500);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

html[data-theme="dark"] {

  body {
    background-color: var(--steel-blue-990);
    color: var(--sky-blue-100);
  }

  a {
    color: var(--lime-500);
  }
}
