.round-edit {

  &__form {

    display: flex;
    flex-direction: column;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    &__mat-progress-bar {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &__action-buttons {
      margin-top: 0.9375rem; // 15px
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
}

.enter-animation {
  animation: fade-in 0.15s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
