<form [formGroup]="_roundForm" [@fadeZoomInOutTrigger] class="round-edit__form">

  <div class="input-group name">
    <app-input
      label="Name"
      formControlName="name"
    />
    @if (!_roundForm.disabled && !_name?.valid && (_name?.dirty || !_name?.untouched)) {
      <mat-error>Enter name from 1 to 256 characters</mat-error>
    }
  </div>

  <mat-progress-bar class="round-edit__form__mat-progress-bar" [style.opacity]="_isLoading() ? '1' : '0'" mode="indeterminate"></mat-progress-bar>

  <div class="round-edit__form__action-buttons">

    <button
      app-button
      appearance="primary"
      [disabled]="_roundForm.disabled || _roundForm.invalid || !_isOnline() || !_isNothingChanged()"
      (click)="saveRound()">{{ !_editedRound() ? 'Create' : 'Save' }}</button>

    @if (_editedRound()) {
      <button
        app-button
        appearance="secondary"
        [disabled]="_roundForm.disabled || !_isOnline()"
        (click)="_editedRoundIdSig.set(null)">New</button>

      <button
        app-button
        appearance="warn"
        [disabled]="_roundForm.disabled || !_isOnline()"
        (click)="deleteRound()">Delete</button>
    }
  </div>
</form>
