<div class="container" [@fadeZoomInOutTrigger]>
  <div class="col" [formGroup]="_roundForm">
    <div class="row">
      <div class="col form-group">
        <app-form-field floatLabel="always" class="form-field">
          <app-label>Round name</app-label>
          <input autocomplete="off" appInput formControlName="name">
          @if (!_roundForm.disabled && !_name?.valid && (_name?.dirty || !_name?.untouched)) {
            <app-error>Enter name from 1 to 256 characters</app-error>
          }
        </app-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-progress-bar [style.opacity]="(_isLoading$ | async) ? '1' : '0'" mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    <div class="row">
      <div class="col text-center actions">
        <button mat-flat-button
                color="primary"
                [disabled]="_roundForm.disabled || _roundForm.invalid || !(_isOnline$ | async) || !(_isNothingChanged$ | async)"
                (click)="saveRound()">{{ !(_editRound$ | async) ? 'Create' : 'Save' }}</button>
        @if (_editRound$ | async) {
          <button mat-stroked-button
                  color="primary"
                  [disabled]="_roundForm.disabled || !(_isOnline$ | async)"
                  (click)="_editRoundId$.next(null)">New</button>
          <button mat-stroked-button
                  color="warn"
                  [disabled]="_roundForm.disabled || !(_isOnline$ | async)"
                  (click)="deleteRound()">Delete</button>
        }
      </div>
    </div>
  </div>
</div>
