.container {
  max-width: 33.75rem !important; // sass-lint:disable-line no-important
  margin: 0 auto 1rem;
  padding: 1rem;

  .col .row {
    &.message {
      padding: 1rem;
    }

    &.title {
      margin-bottom: 1rem;
    }

    .add-task {
      text-align: right;
    }
  }
}

mat-spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media (max-width: 37.75rem) {
  .times-of-day-row-content, .times-of-day-list {
    width: calc(100% - 5rem);
  }
}

