<button
  [id]="_id"
  (blur)="_onTouched()"
  (click)="_itemsOpened = !_itemsOpened"
  class="app-select__select"
  [class.app-select__select--active]="_itemsOpened"
  [disabled]="disabled"
  cdkOverlayOrigin #trigger="cdkOverlayOrigin"
>
  @if (_selected) {
    {{ _selected.label }}
  }
  <svg class="app-select__chevron" appSvg="icon-chevron-down"/>
</button>

<ng-template
  cdkConnectedOverlay
  #cdkConnectedOverlay="cdkConnectedOverlay"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="_itemsOpened"
  [cdkConnectedOverlayDisposeOnNavigation]="true"
  (overlayOutsideClick)="cdkConnectedOverlay.overlayRef.detach(); _itemsOpened = false"
>
  <app-pop-menu class="app-select__app-pop-menu">
    @for (item of items; track item) {
      <app-pop-menu-item
        [danger]="!!item.danger"
        (click)="_onChange(item.value)"
        [style.width.px]="_appPopMenuItemWidth()"
      >
        {{ item.label }}
      </app-pop-menu-item>
    }
  </app-pop-menu>
</ng-template>
