<div class="container" [@fadeZoomInOutTrigger]>
  <div class="col" [formGroup]="_taskForm">
    <div class="row">
      <div class="col form-group">
        <app-form-field>
          <app-label>Task description</app-label>
          <input autocomplete="off" appInput formControlName="description" [placeholder]="'Your task description'">
          @if (!_taskForm.disabled && !_description.valid && !_description.untouched) {
            <app-error>Enter description from 1 to 256 characters</app-error>
          }
        </app-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <small class="form-text text-center text-muted" [ngClass]="!_taskForm.disabled && !_daysOfTheWeek.valid && _daysOfTheWeek.dirty ? 'error' : ''">Mark days</small>
        <div formGroupName="daysOfTheWeek" class="col offset-md-0 text-center days-of-the-week">
          @for (dayOfTheWeek of ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']; track $index) {
            <mat-slide-toggle [checked]="_daysOfTheWeek.get(dayOfTheWeek)!.value == true"
                              [class.disabled]="_taskForm.disabled || !_isOnline()"
                              [formControlName]="dayOfTheWeek">{{ dayOfTheWeek | titlecase }}</mat-slide-toggle>
          }
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        @if (!_taskForm.disabled && _timesOfDay.hasError('required') && _timesOfDay.dirty) {
          <small class="form-text text-center text-muted error">Enter at leas one time of day</small>
        }
        <app-form-field>
          <app-label>Times of day</app-label>
          <mat-chip-grid #chipGrid>
            <div formArrayName="timesOfDay">
              @for (timeOfDayId of _timesOfDay.controls; track timeOfDayId.value; let i = $index) {
                <mat-chip-row [class.disabled]="_taskForm.disabled || !_isOnline()"
                              [formGroupName]="i"
                              [value]="timeOfDayId.value"
                              [removable]="true"
                              [highlighted]="false"
                              (removed)="handleRemoveTimeOfDay(i)">{{ timeOfDayId.value }}
                  <img src="assets/img/chip-close.svg" class="mat-chip-close" matChipRemove>
                </mat-chip-row>
              }
            </div>
            <input autocomplete="off"
                   formControlName="timeOfDayId"
                   appInput
                   #basicInput
                   [appAutocomplete]="auto"
                   [matChipInputFor]="chipGrid"
                   [matChipInputSeparatorKeyCodes]="_separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="handleAddTimeOfDayId($event)">
            <app-autocomplete #auto="appAutocomplete" (selectionChange)="handleOptionSelected($event)">
              @for (option of _filteredOptions(); track option) {
                <app-option [value]="option">{{ option }}</app-option>
              }
            </app-autocomplete>
          </mat-chip-grid>
        </app-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-progress-bar [style.opacity]="_loading() ? '1' : '0'" mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    <div class="row">
      <div class="col text-center actions">
        <button mat-flat-button
                color="primary"
                [disabled]="_taskForm.disabled || _taskForm.invalid || !_isOnline() || !_isNothingChanged()"
                (click)="saveTask()">{{ !_task() ? 'Create' : 'Save' }}</button>
          @if (_task()) {
            <button mat-stroked-button
              color="primary"
              [disabled]="_taskForm.disabled || !_isOnline()"
              (click)="_taskIdSig.set(undefined)">New</button>
            <button mat-stroked-button
              color="warn"
              [disabled]="_taskForm.disabled || !_isOnline()"
              (click)="deleteTask()">Delete</button>
          }
      </div>
    </div>
  </div>
</div>
