// app-tasks-list
\:host
  .container
    padding: 1rem
    .col
      margin-top: .5rem
      .table
        td
          &:last-child
            padding: .25rem
      .add-task
        text-align: right
