// app-tasks-list
\:host
  .container

    margin-top: 0.5rem
    padding: 1rem

    .col
      .row
        .table
          td
            &:last-child
              padding: 0.25rem
              text-align: right

        .add-task
          text-align: right
