<div class="container">
  <div class="col">

    <ng-template *ngIf="isEmpty; then waitForItems; else showItems"></ng-template>

    <ng-template #waitForItems>
      <div class="row message" *ngIf="taskListItemsFirstLoading || todayOrderFirstLoading; else onOneExists">
        <div class="col">
          <span>Loading...</span>
        </div>
      </div>

      <ng-template #onOneExists>
        <div class="row message">
          <div class="col">
            <span>There is no one</span>
          </div>
          <div class="col">
            <div class="add-task">
              <button class="btn btn-primary shadow" type="button" [routerLink]="['/user/task-editor']">Add new</button>
            </div>
          </div>
        </div>
      </ng-template>

    </ng-template>

    <ng-template #showItems>
      <div class="row list">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody id="tasksTable">
              <tr *ngFor="let task of taskListItems">
                <td>{{ task.description }}</td>
                <td>{{ task.daysOfTheWeek }}</td>
                <td>{{ task.timesOfDay }}</td>
                <td>
                  <button class="btn" type="button" [routerLink]="['/user/task-editor/'+ task.id]">
                    <i class="far fa-edit"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="!isEmpty" class="row">
        <div class="col">
          <div class="add-task">
            <button class="btn btn-primary shadow" type="button" [routerLink]="['/user/task-editor']">Add new</button>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>
