<div class="container">
  <div class="col">

    <div *ngIf="taskListItemsFirstLoading" class="row">
      <div class="col">
        <span>Loading...</span>
      </div>
    </div>

    <div *ngIf="isEmpty && !taskListItemsFirstLoading" class="row">
      <div class="col">
        <span>There is no one</span>
      </div>
      <div class="col">
        <div class="add-task">
          <button class="btn btn-primary shadow" type="button" [routerLink]="['/user/task-editor']">Add new</button>
        </div>
      </div>
    </div>

    <div *ngIf="!isEmpty" class="row list">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody id="tasksTable">
            <tr *ngFor="let task of taskListItems">
              <td>{{ task.description }}</td>
              <td>{{ task.daysOfTheWeek }}</td>
              <td>{{ task.timesOfDay }}</td>
              <td>
                <button class="btn" type="button" [routerLink]="['/user/task-editor/'+ task.id]">
                  <i class="far fa-edit"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="!isEmpty" class="row">
      <div class="col">
        <div class="add-task">
          <button class="btn btn-primary shadow" type="button" [routerLink]="['/user/task-editor']">Add new</button>
        </div>
      </div>
    </div>

  </div>
</div>
