// app-tasks
\:host
  .container
    margin: 0.5rem auto 1rem
    padding: 1rem

    .col
      .row
        .table
          td
            padding: 0.75rem 0 0.75rem 0.75rem
            border-top: 1px solid #e0e0e0
            color: rgba(0, 0, 0, 0.87)
            vertical-align: middle

            &:first-child
              padding-left: 1rem

            &:last-child
              padding-right: 1rem

            .btn
              padding: 0

        .add-task
          text-align: right

.pseudo-button
  cursor: pointer
