// app-tasks
\:host
  .container
    margin: 1.8rem auto 0

    .col
      .row
        .table
          td
            padding: 0.75rem 0.5rem
            border-top: 1px solid #e0e0e0
            color: rgba(0, 0, 0, 0.87)
            vertical-align: middle

            &:focus
              outline: none

            &:first-child
              padding-left: 1rem

            &:last-child
              width: 1rem
              padding-right: 1rem

            .btn
              padding: 0

        .add-task
          text-align: right

.pseudo-button
  cursor: pointer

  &:focus
    outline: none
