.container {
  padding: 1rem;

  .col .row {
    max-width: 45rem !important; // sass-lint:disable-line no-important
    margin: 0 auto 1rem;

    &.message {
      padding: 1rem;
    }

    .add-task-button {
      width: 100%;
      text-align: right;
    }

    .add-task {
      text-align: right;
    }
  }
}

.edit-button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
