<div class="container">
  <div class="col">

    <ng-template *ngIf="tasksView.length === 0; then waitForItems; else showItems"></ng-template>

    <ng-template #waitForItems>
      <div class="row message" *ngIf="((tasksFirstLoading$ | async) || (timesOfDayOrderFirstLoading$ | async)) && (isConnected$ | async); else onOneExists">
        <div class="col">
          <span>Loading...</span>
        </div>
      </div>

      <ng-template #onOneExists>
        <div class="row message" *ngIf="isConnected$ | async">
          <div class="col">
            <span>Add some tasks to this empty list</span>
          </div>
          <div class="col">
            <div class="add-task">
              <button class="btn btn-primary shadow" type="button" [routerLink]="['/', RouterDict['user'], RouterDict['task']]">Add new task</button>
            </div>
          </div>
        </div>
        <div class="row message" *ngIf="!(isConnected$ | async)">
          <div class="col">
            <span>You are offline. Waiting for connection...</span>
          </div>
        </div>
      </ng-template>
    </ng-template>

    <ng-template #showItems>
      <div class="row list">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Days</th>
                <th scope="col">Times of day</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tasksTable">
              <tr *ngFor="let task of tasksView">
                <td>{{ task.description }}</td>
                <td>{{ task.daysOfTheWeek }}</td>
                <td>{{ task.timesOfDay.join(', ') }}</td>
                <td>
                  <div class="pseudo-button" [routerLink]="['/', RouterDict['user'],  RouterDict['task'], task.id]">
                    <fa-icon [icon]="faEdit"></fa-icon>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="tasksView.length !== 0" class="row">
        <div class="add-task-button">
          <button class="btn btn-primary shadow" type="button" [routerLink]="['/', RouterDict['user'], RouterDict['task']]">Add new</button>
        </div>
      </div>
    </ng-template>

  </div>
</div>
