@if (!_isOnline() && !_roundsList()!.length) {
  <div class="app-rounds-list__communicate">
    <div class="app-rounds-list__communicate__description">You are offline. Waiting for connection...</div>
  </div>
}

@defer (when !!_roundsList()) {
  <ng-container *ngTemplateOutlet="showItems"></ng-container>
} @loading (after 100ms; minimum 500ms) {
  @if (_isOnline() && (_loadingRoundsMap() || _loadingUser())) {
    <table class="app-rounds-list__table">
      <thead>
        <tr>
          <th><app-skeleton width="37px" height="16px"/></th>
          <th><app-skeleton width="32px" height="16px"/></th>
          <th><app-skeleton width="71px" height="16px"/></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><app-skeleton width="33px" height="19px"/></th>
          <th><app-skeleton width="9px" height="19px"/></th>
          <th><app-skeleton width="72px" height="19px"/></th>
          <th><app-skeleton width="16px" height="19px"/></th>
        </tr>
      </tbody>
    </table>
  }
}

<ng-template #showItems>

  @if (_roundsList(); as roundsList) {

    @if (roundsList.length > 0) {

      <table #roundListTable class="app-rounds-list__table">
        <thead>
          <tr>
            <th>Round</th>
            <th>Tasks</th>
            <th>Times of day</th>
            <th [ngStyle]="{width: '39px'}"></th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!_isOnline()">
          @for (round of roundsList; track round) {
            <tr
              cdkDrag
              (click)="goToRound(round.id)"
              [class.disabled]="_loadingUser() || ((!_isOnline() || _loadingUser()) && (!_isOnline() && !!_round() && _round()?.id !== round.id)) || ((!_isOnline() || _loading()) && !_round())"
            >
              <th>{{ round.name }}</th>
              <th>{{ round.tasksIds.length }}</th>
              <th>{{ round.timesOfDay.join(', ') || '---' }}</th>
              <th class="edit-button" (click)="editRound(round)"><fa-icon [icon]="_faEdit"></fa-icon></th>
            </tr>
          }
        </tbody>
      </table>

    } @else {
      <div class="app-rounds-list__communicate">
        <div class="app-rounds-list__communicate__header">There is no rounds</div>
        <button
          class="app-rounds-list__communicate__button"
          app-button
          appearance="primary"
          (click)="addRound()"
        >Add new round</button>
      </div>
    }
  }
</ng-template>
