.container {
  margin-top: 2rem;
}

.icon {
  height: 51px;

  &.cookiebot {
    height: 40px;
  }

  &.firebase {
    height: 55px;
    width: 50px;
  }

  &.kms {
    height: 50px;
    width: 50px;
  }

  &.mochajs {
    height: 53px;
  }

  &.bug {
    height: 54px;
  }

  &.top-incognito {
    width: 31px;
    height: 31px;
    margin-left: 1px;
  }
}

.features-clean {
  padding-bottom: 30px;
  background-color: #ffffff;
  color: #313437;

  @media (max-width: 767px) {
    padding-bottom: 10px;
  }

  p {
    color: #3a3a3a;
  }

  h2 {
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
    font-weight: bold;

    @media (max-width: 767px) {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }

  .intro {
    max-width: 500px;
    margin: 0 auto 60px;
    font-size: 16px;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  .item {
    min-height: 100px;
    margin-bottom: 40px;
    padding-left: 80px;

    @media (max-width: 767px) {
      min-height: 0;
    }

    .name {
      margin-top: 0;
      margin-bottom: 20px;
      color: inherit;
      font-size: 20px;
      font-weight: bold;
    }

    .description {
      margin-bottom: 0;
      font-size: 15px;
    }

    .icon, .pseudo-img {
      display: flex;
      margin-left: -65px;
      float: left;
      color: #1485ee;
      font-size: 36px;
      line-height: 36px;
    }
  }
}

footer {
  padding: 0 0 1rem;

  p {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 0;
    color: #3a3a3a;
  }
}
