<div class="alert alert-danger" role="alert">
  <span>
    <strong>This is private page.</strong>&nbsp;If you are here by accident then just leave.</span>
</div>
<div class="container">
  <h1>Hello there.</h1>
  <h3>Do you remember?</h3>
</div>
<div class="features-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Features&nbsp;<i class="fas fa-project-diagram"></i></h2>
      <p class="text-center">We know you are busy, can't remember everything.<br>Just create your daily tasks and make every day better.</p>
    </div>
    <div class="row features">
      <div class="col-sm-6 col-lg-4 item"><i class="fas fa-list-ol icon" style="color: rgb(49,52,55);"></i>
        <h3 class="name">Today tasks</h3>
        <p class="description">Check this if didn't remember.&nbsp;<br>Mark that the task has been done.<br></p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="far fa-list-alt icon" style="color: rgb(49,52,55);"></i>
        <h3 class="name">Tasks list</h3>
        <p class="description">Have a look what you improve in your behaviors.<br></p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="far fa-edit icon" style="color: rgb(49,52,55);"></i>
        <h3 class="name">Task editor</h3>
        <p class="description">Add new or edit task by selecting times of day and days of the week.</p>
      </div>
    </div>
  </div>
</div>
