.container {
  margin-top: 2rem;
}

.icon.cookiebot {
  height: 40px;
}

a.cookiebot-renew {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

footer {
  padding: 0 0 1rem;

  p {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 0;
    color: #7d8285;
  }
}
