<div class="app-rounds__rounds-bar">
  <!--
  Rounds | Round edit | Round name
  Rounds | Round name
  -->

  <svg [appSvg]="'rounds-' + (_darkMode() ? 'dark' : 'light')" class="app-rounds__rounds-bar__rounds-icon" />

  <a [routerLink]="['/', _RouterDict.user, _RouterDict.rounds, _RouterDict.roundsList]">Rounds</a>

  @if (_editedRound()) {
    <span> | </span>
    <a [routerLink]="['/', _RouterDict.user, _RouterDict.rounds, _RouterDict.roundEditor, _editedRound()?.id]">{{ _editedRound()?.name }}</a>
  }

  @if (_round()) {
    <span> | </span>
    <a [routerLink]="['/', _RouterDict.user, _RouterDict.rounds, _round()?.id, _RouterDict.todayTasks]"> {{ _round()?.name }}</a>
  }
</div>

<router-outlet></router-outlet>
