<div class="container">
  <div class="row">
    <div class="col">
      <div class="vertical-links">

        <!--
        Rounds | Round edit | Round name
        Rounds | Round name
        -->
        <img src="../../../assets/svg/rounds.svg" class="rounds-icon">
        <a class="vertical-link" [routerLink]="['/', _RouterDict.user, _RouterDict.rounds, _RouterDict.roundsList]">Rounds</a>

        <input type="hidden" [routerLink]="['/', _RouterDict.user, _RouterDict.rounds, _RouterDict.roundEditor]" routerLinkActive="roundEdit" #roundEdit="routerLinkActive"/>

        @if (roundEdit.isActive) {
          <span> | </span>
          <a class="vertical-link" [routerLink]="['/', _RouterDict.user, _RouterDict.rounds, _RouterDict.roundEditor]">Round edit</a>
        }

        @if (roundEdit.isActive && (_editRound$ | async)) {
          <span> | </span>
          <a class="vertical-link" [routerLink]="['/', _RouterDict.user, _RouterDict.rounds, _RouterDict.roundEditor, (_editRound$ | async)?.id]">{{ (_editRound$ | async)?.name }}</a>
        }

        @if (!roundEdit.isActive && (_round$ | async)) {
          <span> | </span>
          <a class="vertical-link" [routerLink]="['/', _RouterDict.user, _RouterDict.rounds, (_round$ | async)?.id, _RouterDict.todayTasks]"> {{ (_round$ | async)?.name }}</a>
        }

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
