@use 'styles/layout' as layout;

.app-rounds {

  @include layout.container();

  .rounds-bar {

    display: flex;
    align-items: center;
    gap: 6px;

    .rounds-icon {
      width: 33px;
      height: 33px;
    }

    .vertical-link {

      color: var(--gray-990);
      text-decoration: none;
      flex-shrink: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .text-shrink {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex-shrink: 1;
    }
  }
}

html[data-theme="dark"] {
  .rounds-bar {
    .vertical-link {
      color: var(--sky-blue-100);
    }
  }
}
