@import 'styles/layout-mixins';
@import 'styles/typography-mixins';

.app-rounds {

  @include container();

  &__rounds-bar {

    display: flex;
    align-items: center;
    gap: 6px;

    &__rounds-icon {
      width: 33px;
      height: 33px;
    }
  }
}
