@use 'styles/layout' as layout;

.app-auth-dialog {

  display: block;
  margin: auto;
  background-color: var(--white);
  height: 100%;

  .nav {

    display: flex;
    justify-content: space-between;
    height: 2.25rem; // 36px
    margin: 0.875rem auto 1rem auto; // 23px auto 16px auto

    @include layout.from-small() {
      max-width: 540px
    }

    @include layout.from-medium() {
      max-width: 720px;
    }

    @include layout.from-large() {
      max-width: 960px;
    }

    @include layout.from-extra-large() {
      max-width: 1140px;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
    }

    .logo-label {
      line-height: 22px;
    }

    .actions {
      display: flex;
      gap: 10px;
    }
  }

  .selector {

    display: flex;
    gap: 1.25rem;
    margin: auto;
    padding-inline: 1.375rem;
    list-style: none;
    position: relative;
    border-bottom: 1px solid var(--gray-820);

    @include layout.container();

    .selector-item {

      position: relative;
      cursor: pointer;
      background: transparent;
      border: none;
      padding-top: 1rem;
      padding-bottom: calc(1rem - 0.1875rem);
      font-size: 1rem;
      font-weight: 800;
      color: var(--gray-820);
      transition: 0.1s;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      border-bottom: solid 0.1875rem transparent; // 3

      &.selector-item-active {
        color: var(--gray-990);
        anchor-name: --selector-item-active;
      }
    }

    .selector-indicator {
      position: absolute;
      position-anchor: --selector-item-active;
      width: anchor-size(width);
      height: 0.1875rem; // 3
      left: anchor(left);
      top: calc(100% - 3px);
      transition: left 0.3s, width 0.3s;
      background: var(--gray-990);
    }
  }
}

@supports not (anchor-name: --foo) {

  .app-auth-dialog {
    .selector {
      .selector-item {
        &.selector-item-active {
          border-bottom: solid;
        }
      }
    }
  }
}

html[data-theme="dark"] {

  .app-auth-dialog {

    background-color: var(--steel-blue-990);

    .selector {

      border-bottom: 1px solid var(--steel-blue-200);

      .selector-item {

        color: var(--steel-blue-200);

        &.selector-item-active {
          color: var(--sky-blue-100);
        }
      }

      .selector-indicator {
        background: var(--sky-blue-100);
      }
    }
  }
}

.enter-animation {
  animation: fade-in 0.15s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
