<form [formGroup]="_loginForm">

  <div class="input-group email">
    <app-input
      label="Email"
      formControlName="email"
      type="email"
    />
    @if (!_loginForm.disabled && !_email?.valid && !_email?.untouched) {
      <span class="input-error">Enter email</span>
    }
  </div>

  <div class="input-group password">
    <app-input
      label="Password"
      formControlName="password"
      type="password"
    />
    @if (!_loginForm.disabled && !_password?.valid && !_password?.untouched) {
      <span class="input-error">Enter password</span>
    }
  </div>

  <mat-progress-bar [style.opacity]="_loginForm.disabled ? '1' : '0'" mode="indeterminate"></mat-progress-bar>

  <div class="action-buttons">
    <button
      app-button
      appearance="primary"
      [disabled]="_loginForm.disabled || _loginForm.invalid || !_isOnline()"
      (click)="login()">Login</button>
    @if (_userCredential()) {
      <button
        app-button
        appearance="secondary"
        [disabled]="_loginForm.disabled || !_isOnline()"
        (click)="sendEmailVerification()">Send email verification</button>
    }
  </div>
</form>
