<div class="container">
  <div class="col" [formGroup]="_loginForm">
    <div class="row">
      <app-form-field>
        <app-label>Email</app-label>
        <input autocomplete="off" appInput formControlName="email" type="email">
        @if (!_loginForm.disabled && !_email?.valid && !_email?.untouched) {
          <app-error>Enter email</app-error>
        }
      </app-form-field>
    </div>
    <div class="row">
      <app-form-field>
        <app-label>Password</app-label>
        <input autocomplete="off" appInput formControlName="password" type="password">
        @if (!_loginForm.disabled && !_password?.valid && !_password?.untouched) {
          <app-error>Enter password</app-error>
        }
      </app-form-field>
    </div>
    <div class="row">
      <div class="col">
        <mat-progress-bar [style.opacity]="_loginForm.disabled ? '1' : '0'" mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="action-buttons actions">
      <button mat-flat-button
              color="primary"
              [disabled]="_loginForm.disabled || _loginForm.invalid || !_isOnline()"
              (click)="login()">Login</button>

      @if (_userCredential()) {
        <button mat-stroked-button
                color="primary"
                [disabled]="_loginForm.disabled || _loginForm.invalid || !_isOnline()"
                (click)="sendEmailVerification()">Send email verification</button>
      }
    </div>
  </div>
</div>
