// app-user-nav
\:host
  .container
    .btn-group
      .btn
        &.active
          font-weight: 400

        &.text-muted
          color: #bdbdbd !important // sass-lint:disable-line no-important
          font-weight: 400
