<div class="container">

  <div class="col" [ngClass]="{'disabled': setTimesOfDayOrder$ && !setTimesOfDayOrder$.closed}">

    <ng-template *ngIf="isEmpty; then waitForItems; else showItems"></ng-template>

    <ng-template #waitForItems>
      <div *ngIf="timesOfDayOrderFirstLoading && isConnected; else onOneExists" class="row message">
        <div class="col">
          <span>Loading...</span>
        </div>
      </div>

      <ng-template #onOneExists>
        <div class="row message" *ngIf="isConnected">
          <div class="col">
            <span>Add some tasks and change times of day order</span>
          </div>
          <div class="col">
            <div class="add-task">
              <button class="btn btn-primary shadow" type="button" [routerLink]="['/', RouterDict['user'], RouterDict['task']]">Add new task</button>
            </div>
          </div>
        </div>
        <div class="row message" *ngIf="!isConnected">
          <div class="col">
            <span>You are offline. Waiting for connection...</span>
          </div>
        </div>
      </ng-template>
    </ng-template>

    <ng-template #showItems>
      <div class="row">
        <span class="times-of-day-row-content title">Change times of day order</span>
      </div>
      <div class="row">
        <div [cdkDropListDisabled]="!isConnected" cdkDropList class="times-of-day-list" (cdkDropListDropped)="drop($event)">
          <div
            cdkDrag
            class="times-of-day-box"
            [class.disabled]="!isConnected"
            *ngFor="let item of timesOfDayOrder; let i = index">
            <div class="times-of-day-item">{{ item }}</div>
            <fa-icon [icon]="faGripLines"></fa-icon>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>

<mat-spinner *ngIf="setTimesOfDayOrder$ && !setTimesOfDayOrder$.closed" [diameter]="50" [strokeWidth]="5"></mat-spinner>
