<div class="container">

  <div class="col" [ngClass]="{'disabled': setTimesOfDayOrderSub && !setTimesOfDayOrderSub.closed}">

    <ng-template *ngIf="(timesOfDayOrder$ | async).length === 0; then waitForItems; else showItems"></ng-template>

    <ng-template #waitForItems>
      <div *ngIf="(timesOfDayOrderFirstLoading$ | async) && (isConnected$ | async); else onOneExists" class="row message">
        <div class="col">
          <span>Loading...</span>
        </div>
      </div>

      <ng-template #onOneExists>
        <div class="row message" *ngIf="isConnected$ | async">
          <div class="col">
            <span>Add some tasks and change times of day order</span>
          </div>
          <div class="col">
            <div class="add-task">
              <button mat-flat-button
                      color="primary"
                      [routerLink]="['/', RouterDict['user'], RouterDict['task']]">Add new</button>
            </div>
          </div>
        </div>
        <div class="row message" *ngIf="!(isConnected$ | async)">
          <div class="col">
            <span>You are offline. Waiting for connection...</span>
          </div>
        </div>
      </ng-template>
    </ng-template>

    <ng-template #showItems>
      <div class="row">
        <div class="drag-container">
          <div class="drag-container-header mat-header-cell">Change times of day order</div>

          <div [cdkDropListDisabled]="!(isConnected$ | async)" class="drag-list" cdkDropList (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="drag-item mat-cell" [class.disabled]="!(isConnected$ | async)" *ngFor="let item of (timesOfDayOrder$ | async); let i = index">
              <span class="drag-span">{{ decodeFirebaseSpecialCharacters(item.id) }}</span>
              <fa-icon class="drag-icon" [icon]="faGripLines"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>

<mat-spinner *ngIf="setTimesOfDayOrderSub && !setTimesOfDayOrderSub.closed" [diameter]="50" [strokeWidth]="5"></mat-spinner>
