<div class="container">

  <div class="col" [ngClass]="{'disabled': setTimesOfDayOrderSub && !setTimesOfDayOrderSub.closed}">

    <ng-template *ngIf="(timesOfDayOrder$ | async).length === 0; then waitForItems; else showItems"></ng-template>

    <ng-template #waitForItems>
      <div *ngIf="(timesOfDayOrderFirstLoading$ | async) && (isConnected$ | async); else onOneExists" class="row message">
        <div class="col">
          <span>Loading...</span>
        </div>
      </div>

      <ng-template #onOneExists>
        <div class="row message" *ngIf="isConnected$ | async">
          <div class="col">
            <span>Add some tasks and change times of day order</span>
          </div>
          <div class="col">
            <div class="add-task">
              <button class="btn btn-primary shadow" type="button" [routerLink]="['/', RouterDict['user'], RouterDict['task']]">Add new task</button>
            </div>
          </div>
        </div>
        <div class="row message" *ngIf="!(isConnected$ | async)">
          <div class="col">
            <span>You are offline. Waiting for connection...</span>
          </div>
        </div>
      </ng-template>
    </ng-template>

    <ng-template #showItems>
      <div class="row">
        <span class="times-of-day-row-content title">Change times of day order</span>
      </div>
      <div class="row">
        <div [cdkDropListDisabled]="!(isConnected$ | async)" cdkDropList class="times-of-day-list" (cdkDropListDropped)="drop($event)">
          <div
            cdkDrag
            class="times-of-day-box"
            [class.disabled]="!(isConnected$ | async)"
            *ngFor="let item of (timesOfDayOrder$ | async); let i = index">
            <div class="times-of-day-item">{{ decodeFirebaseSpecialCharacters(item.id) }}</div>
            <fa-icon class="times-of-day-item-icon" [icon]="faGripLines"></fa-icon>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>

<mat-spinner *ngIf="setTimesOfDayOrderSub && !setTimesOfDayOrderSub.closed" [diameter]="50" [strokeWidth]="5"></mat-spinner>
