<form [formGroup]="_recoveryForm">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input autocomplete="off" matInput formControlName="email" type="email">
    @if (!_recoveryForm.disabled && !_email?.valid && (_email?.dirty || !_email?.untouched)) {
      <mat-error>Enter email</mat-error>
    }
  </mat-form-field>

  <div class="action-buttons">

    <button mat-flat-button
            color="primary"
            [disabled]="_recoveryForm.disabled || _recoveryForm.invalid || !_isOnline()"
            (click)="sendPasswordResetEmail()">Send password reset email</button>
  </div>
</form>
