<div class="container">
  <div class="col" [formGroup]="_recoveryForm">
    <div class="row">
      <app-form-field>
        <app-label>Email</app-label>
        <input autocomplete="off" appInput formControlName="email" type="email">
        @if (!_recoveryForm.disabled && !_email?.valid && (_email?.dirty || !_email?.untouched)) {
          <app-error>Enter email</app-error>
        }
      </app-form-field>
    </div>
    <div class="row">
      <div class="action-buttons actions">
        <button mat-flat-button
                color="primary"
                [disabled]="_recoveryForm.disabled || _recoveryForm.invalid || !(_isOnline$ | async)"
                (click)="sendPasswordResetEmail()">Send password reset email</button>
      </div>
    </div>
  </div>
</div>
