<form [formGroup]="recoveryForm">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input autocomplete="off" matInput formControlName="email" type="email">
    @if (!recoveryForm.disabled && !email?.valid && (email?.dirty || email?.touched)) {
      <mat-error>Enter email</mat-error>
    }
  </mat-form-field>

  <div class="action-buttons">

    <button mat-flat-button
            color="primary"
            [disabled]="recoveryForm.disabled || recoveryForm.invalid || !isOnline()"
            (click)="sendPasswordResetEmail()">Send password reset email</button>
  </div>
</form>
