<div class="container">
  <div class="row">
    <div class="col">
      <div class="vertical-links">

        <!--
        Rounds | Round edit | Round name
        Rounds | Round name
        -->
        <img src="assets/img/rounds.svg" class="rounds-icon">
        <a class="vertical-link"
           [routerLink]="['/', RouterDict.user, RouterDict.rounds, RouterDict.roundsList]">Rounds</a>

        <input type="hidden" [routerLink]="['/', RouterDict.user, RouterDict.rounds, RouterDict.roundEditor]"
               routerLinkActive="roundEdit" #roundEdit="routerLinkActive"/>

        <ng-container *ngIf="roundEdit.isActive">
          <span> | </span>
          <a class="vertical-link" [routerLink]="['/', RouterDict.user, RouterDict.rounds, RouterDict.roundEditor]">Round
            edit</a>
        </ng-container>

        <ng-container *ngIf="roundEdit.isActive && editedRound()">
          <span> | </span>
          <a class="vertical-link"
             [routerLink]="['/', RouterDict.user, RouterDict.rounds, RouterDict.roundEditor, editedRound().id]">{{ editedRound().name }}</a>
        </ng-container>

        <ng-container *ngIf="!roundEdit.isActive && selectedRound()">
          <span> | </span>
          <a class="vertical-link"
             [routerLink]="['/', RouterDict.user, RouterDict.rounds, selectedRound().id, RouterDict.todayTasks]">
            {{ selectedRound().name }}</a>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
