@import 'styles/layout-mixins';
@import 'styles/typography-mixins';

.app-nav {

  @include container();

  height: 62px;
  display: flex;
  justify-content: space-between;

  &__left {

    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 22px;

    @include from-small() {
      margin-left: 0;
    }

    &__page-name {
      @include body-l();
      @include font-normal();
    }

    &__logo {
      width: 24px;
    }
  }

  &__right {

    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 22px;

    @include from-small() {
      margin-right: 0;
    }
  }
}
