<form [formGroup]="newPasswordForm">
  <mat-form-field>
    <mat-label>New password</mat-label>
    <input autocomplete="off" matInput formControlName="newPassword" type="password">
    <mat-error *ngIf="!newPasswordForm.disabled && !newPassword.valid && (newPassword.dirty || newPassword.touched)">Enter new password</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm new password</mat-label>
    <input autocomplete="off" matInput formControlName="confirmNewPassword" type="password">
    <mat-error *ngIf="!newPasswordForm.disabled && !confirmNewPassword.valid && (confirmNewPassword.dirty || confirmNewPassword.touched)">Confirm new password</mat-error>
  </mat-form-field>

  <button mat-flat-button
          color="primary"
          [disabled]="newPasswordForm.disabled || newPasswordForm.invalid || !isOnline()"
          (click)="changePassword()">Change password</button>
</form>
