.app-chip {

  display: inline-flex;
  flex-direction: row;
  margin-left: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 11px;
  line-height: 15px;
  color: var(--gray-990);
  border-radius: 12px;
  align-items: center;
  background: var(--gray-500);
  cursor: pointer;

  &:hover {
    background: var(--gray-600);
  }
}

.app-chip-content-wrapper {
  padding: 2px 10px;
}

.app-chip-content-wrapper--with-remove-button {
  padding-right: 0;
}

.app-chip-remove-wrapper {
  margin-left: 3px;
  margin-right: 2px;
  display: flex;
  width: 16px;
  height: 16px;
}

html[data-theme="dark"] {

  .app-chip {

    background: var(--stale-gray-800);
    color: var(--sky-blue-100);

    &:hover {
      background: var(--steel-blue-500);
    }
  }
}
