<form [formGroup]="loginForm">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input autocomplete="off" matInput formControlName="email" type="email">
    <mat-error *ngIf="!loginForm.disabled && !email.valid && (email.dirty || email.touched)">Enter email</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input autocomplete="off" matInput formControlName="password" type="password">
    <mat-error *ngIf="!loginForm.disabled && !password.valid && (password.dirty || password.touched)">Enter password</mat-error>
  </mat-form-field>

  <div class="action-buttons">
    <button mat-flat-button
            color="primary"
            [disabled]="loginForm.disabled || loginForm.invalid || !isOnline"
            (click)="login()">Login</button>

    <button *ngIf="userCredential"
            mat-stroked-button
            color="primary"
            [disabled]="loginForm.disabled || loginForm.invalid || !isOnline"
            (click)="sendEmailVerification()">Send email verification</button>
  </div>
</form>
