<div class="features">
  <div class="features__intro">
    <div class="features__intro__heading-xl">
      Rounds
      <img [src]="'assets/imgs/' + (_isDarkMode() ? 'rounds-dark' : 'rounds') + '.svg'" [style]="{width: '33px', marginLeft: '4px'}">
    </div>
    <div class="features__intro__heading-m">Your Productivity Hub</div>
    <div class="features__intro__body-m">Empower your productivity with the ability to create up to 5 rounds of tasks. Structure your day with distinct sets of activities and enhance your efficiency.</div>
  </div>
  <div class="features__items">
    <div class="features__items__item">
      <img src="/assets/imgs/today-tasks.svg" class="features__items__item__icon"/>
      <div class="features__items__item__name">Today's Tasks</div>
      <div class="features__items__item__description">Stay organized and focused by managing your daily tasks. Review and mark completed tasks to keep your progress on track.</div>
    </div>
    <div class="features__items__item">
      <img src="/assets/imgs/clock.svg" class="features__items__item__icon"/>
      <div class="features__items__item__name">Sortable Task Groups</div>
      <div class="features__items__item__description">Efficiently organize your day with up to 10 customizable task groups. Set the order that works best for your workflow.</div>
    </div>
    <div class="features__items__item">
      <img src="/assets/imgs/tasks-list.svg" class="features__items__item__icon"/>
      <div class="features__items__item__name">Tasks List</div>
      <div class="features__items__item__description">Maintain a comprehensive list of up to 25 tasks. Easily prioritize and manage your workload with our intuitive task management system.</div>
    </div>
  </div>
</div>

<div class="features">
  <div class="features__intro">
    <div class="features__intro__heading-xl">Security Assurance 🤞</div>
    <p class="features__intro__body-m">Your privacy and data security are our top priorities. Our robust security measures ensure the utmost protection against unauthorized access.</p>
  </div>
  <div class="features__items">
    <div class="features__items__item">
      <img src="/assets/imgs/branding/angular_gradient.png" class="features__items__item__icon angular"/>
      <div class="features__items__item__name">Angular</div>
      <div class="features__items__item__description">Rely on the power of Angular for seamless scalability and top-notch performance. Our platform works effortlessly at any scale.</div>
    </div>
    <div class="features__items__item">
      <img src="/assets/imgs/branding/cloud_run.svg" class="features__items__item__icon"/>
      <div class="features__items__item__name">Cloud Run</div>
      <div class="features__items__item__description">
        Experience swift resource handling with Cloud Run, ensuring optimal performance and responsiveness.
      </div>
    </div>
    <div class="features__items__item">
      <img src="/assets/imgs/branding/firebase_logo_logomark.svg" class="features__items__item__icon firebase"/>
      <div class="features__items__item__name">Built with Firebase</div>
      <div class="features__items__item__description">
        Backed by Google, loved by app development teams worldwide. From startups to global enterprises, Firebase powers our seamless platform.
      </div>
    </div>
  </div>
</div>
