@if (!_loadingUser()) {

  <div class="container">
    <h1>Hello there.</h1>
    <h3>Do you remember?</h3>
    <h6>
      <a (click)="toggleIsHiddenUserDataPolicy()" class="no-select">
        User data policy
        <img src="/assets/img/incognito.svg" class="icon top-incognito"/>
      </a>
    </h6>
  </div>

  @if (!_isHiddenUserDataPolicy()) {
    <app-user-data-policy></app-user-data-policy>
  }

  <div class="features-clean">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Rounds&nbsp;<img [style]="{width: '64px'}" src="/assets/img/rounds.svg">
        </h2>
        <p class="text-center">Welcome to Rounds – Your Productivity Hub</p>
        <p class="text-center">Empower your productivity with the ability to create up to 5 rounds of tasks. Structure your day with distinct sets of activities and enhance your efficiency.</p>
      </div>
      <div class="row features">
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/today.svg" class="icon">
          <h3 class="name">Today's Tasks</h3>
          <p class="description">Stay organized and focused by managing your daily tasks. Review and mark completed tasks to keep your progress on track.</p>
        </div>
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/clock.svg" class="icon">
          <h3 class="name">Sortable Task Groups</h3>
          <p class="description">Efficiently organize your day with up to 10 customizable task groups. Set the order that works best for your workflow.</p>
        </div>
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/list.svg" class="icon">
          <h3 class="name">Tasks List</h3>
          <p class="description">Maintain a comprehensive list of up to 25 tasks. Easily prioritize and manage your workload with our intuitive task management system.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="features-clean">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Security Assurance 🤞</h2>
        <p class="text-center">Your privacy and data security are our top priorities. Our robust security measures ensure the utmost protection against unauthorized access.</p>
      </div>
      <div class="row features">
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/branding/angular_gradient.png" class="icon angular"/>
          <h3 class="name">Angular v17</h3>
          <p class="description">Rely on the power of Angular v17 for seamless scalability and top-notch performance. Our platform works effortlessly at any scale.</p>
        </div>
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/branding/GitHub-Mark-120px-plus.png" class="icon github"/>
          <h3 class="name">GitHub Transparency</h3>
          <p class="description">
            Explore our development process on GitHub at <a href="https://github.com/grzeg95/remember-me-public">remember-me-public</a>. We believe in transparency and collaboration.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/bug.svg" class="icon bug"/>
          <h3 class="name">Bug Bounty Program 🧐</h3>
          <p class="description">Join us in uncovering the unknown! Participate in our bug bounty program and contribute to the continuous improvement of our platform.</p>
        </div>
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/branding/mochajs-icon.svg" class="icon mochajs"/>
          <h3 class="name">Rigorous Unit Testing 🤔</h3>
          <p class="description">Before each release, our development team rigorously tests every piece of code for vulnerabilities. Ensuring a secure experience for our users.</p>
        </div>
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/branding/key_management_service.svg" class="icon kms"/>
          <h3 class="name">Encryption Excellence 🙄</h3>
          <p class="description">
            Your data is encrypted with the utmost precision.<br/>
            <a href="/assets/myId.json">Sample data of the user "myId".</a><br/>
            <a href="https://cloud.google.com/security-key-management">Learn more.</a>
          </p>
        </div>
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/branding/cloud_run.svg" class="icon"/>
          <h3 class="name">Cloud Run</h3>
          <p class="description">
            Experience swift resource handling with Cloud Run, ensuring optimal performance and responsiveness.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/csp.svg" class="icon csp">
          <h3 class="name">Content-security-policy</h3>
          <p class="description">
            Protecting your data against theft, site damage, and malware distribution. Our stringent content-security-policy safeguards your online experience.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4 item">
          <img src="/assets/img/branding/firebase_logo_logomark.svg" class="icon firebase"/>
          <h3 class="name">Built with Firebase</h3>
          <p class="description">
            Backed by Google, loved by app development teams worldwide. From startups to global enterprises, Firebase powers our seamless platform.
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    @for (line of _guestComponentConfig?.footerLines; track line) {
      <p [innerHTML]="line"></p>
    }
  </footer>
}
