@use 'styles/typography-mixins' as typography-mixins;

.app-times-of-day-order {

  &__communicate {

    width: 100%;
    margin-top: 19px;

    &__header {
      text-align: center;
      margin-bottom: 8px;
      @include typography-mixins.heading-l();
    }

    &__description {
      text-align: center;
      margin-bottom: 8px;
    }

    &__button {
      margin: auto;
    }
  }

  &__items {

    max-width: 540px;
    margin: 21px auto 0 auto;
    cursor: move;
    overflow: hidden;

    &__header {
      padding: 11px 13px;
      font-size: 12px;
      @include typography-mixins.font-normal();
      border-bottom: solid 1px;
    }

    &__wrapper {

      &__cell {

        display: flex;
        justify-content: space-between;
        padding: 12px 13px;

        @include typography-mixins.body-m();
        @include typography-mixins.font-normal();
        border-bottom: solid 1px;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.app-times-of-day-order__items__wrapper.cdk-drop-list-dragging .app-times-of-day-order__items__wrapper__cell:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
