<div class="container" [@fadeZoomInOutTrigger]>

  <div class="col" [ngClass]="{'disabled': _isLoading()}">

    @if (!_isOnline() && !_round()) {
      <div class="row message">
        <div class="col">
          <span>You are offline. Waiting for connection...</span>
        </div>
      </div>
    }

    @if (_isOnline() && _loadingRound()) {
      @defer {
      } @loading (after 100ms; minimum 500ms) {
        <div class="row message">
          <div class="col">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      }
    } @else if (_isOnline()) {
      <ng-template *ngTemplateOutlet="showItems"></ng-template>
    }

    <ng-template #showItems>

      @if (_round(); as round) {

        @if (round.timesOfDay.length) {

          <div class="row">
            <div class="drag-container">
              <div class="drag-container-header mat-header-cell">Change the order of the times of the day</div>
              <div [cdkDropListDisabled]="!_isOnline()" class="drag-list" cdkDropList (cdkDropListDropped)="drop($event)">
                @for (timesOfDay of _round()?.timesOfDay; let i = $index; track timesOfDay) {
                  <div cdkDrag class="drag-item mat-cell" [class.disabled]="!_isOnline()">
                    <span class="drag-span">{{ timesOfDay }}</span>
                    <fa-icon class="drag-icon" [icon]="_faGripLines"></fa-icon>
                  </div>
                }
              </div>
            </div>
          </div>

        } @else {

          <div class="row message">
            <div class="col">
              <span>Add some tasks and change the order of the times of day</span>
            </div>
            <div class="col">
              <div class="add-task">
                <button mat-flat-button
                        color="primary"
                        (click)="addNewTask()">Add new</button>
              </div>
            </div>
          </div>

        }
      }
    </ng-template>

  </div>
</div>

@if (_isLoading()) {
  <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
}
