<div class="container">
  <div class="col">

    <!--

      !isOnline ? wait for connection but I also can have items before I went offline then show them but only when I loaded then before

      check if I loaded items
      false ? show loading...
      true ? check if there is anybody
        true ? show them
        false ? show loading...

      -->

    <div class="row message" *ngIf="!isOnline && tasks === null">
      <div class="col">
        <span>You are offline. Waiting for connection...</span>
      </div>
    </div>

    <ng-template *ngIf="!isOnline && tasks !== null && tasks.length > 0; then showItems"></ng-template>

    <ng-container *ngIf="isOnline">

      <ng-container *ngIf="tasksFirstLoading || roundsOrderFirstLoading || tasks === null">
        <div class="row message">
          <div class="col">
            <app-loading-text></app-loading-text>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!tasksFirstLoading && !roundsOrderFirstLoading && tasks !== null && tasks.length === 0">
        <div class="row message">
          <div class="col">
            <span>Add some tasks to this empty list</span>
          </div>
          <div class="col">
            <div class="add-task">
              <button mat-flat-button
                      color="primary"
                      (click)="goToTask()">Add new task
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template *ngIf="!tasksFirstLoading && !roundsOrderFirstLoading && tasks !== null && tasks.length > 0; then showItems"></ng-template>

    </ng-container>

    <ng-template #showItems>
      <div class="row">
        <table mat-table [dataSource]="tasks" *ngIf="roundSelected.timesOfDay || []; let timesOfDay">

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
          </ng-container>

          <ng-container matColumnDef="daysOfTheWeek">
            <th mat-header-cell *matHeaderCellDef>Days</th>
            <td mat-cell *matCellDef="let element">{{ element.daysOfTheWeek }}</td>
          </ng-container>

          <ng-container matColumnDef="timesOfDays">
            <th mat-header-cell *matHeaderCellDef>Times of day</th>
            <td mat-cell *matCellDef="let element">{{ getTimesOfDay(timesOfDay, element.timesOfDay).join(', ') }}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell class="edit-button" *matCellDef="let element" (click)="goToTask(element.id)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div class="add-task-button">
          <button mat-flat-button
                  color="primary"
                  (click)="goToTask()">Add new</button>
        </div>
      </div>
    </ng-template>

  </div>
</div>
