<div class="container">
  <div class="col">

    <ng-template *ngIf="(todayItemsView$ | async)?.length === 0; then waitForItems; else showItems"></ng-template>

    <ng-template #waitForItems>
      <div class="row message" *ngIf="((todayFirstLoading$ | async) || (timesOfDayFirstLoading$ | async)) && (isConnected$ | async); else onOneExists">
        <div class="col">
          <app-loading-text></app-loading-text>
        </div>
      </div>

      <ng-template #onOneExists>
        <div class="row message" *ngIf="isConnected$ | async">
          <div class="col">
            <span>Add some tasks for {{todayFullName$ | async}}</span>
          </div>
          <div class="col">
            <div class="add-task">
              <button mat-flat-button
                      color="primary"
                      (click)="addNewTask()">Add new task</button>
            </div>
          </div>
        </div>
        <div class="row message" *ngIf="!(isConnected$ | async)">
          <div class="col">
            <span>You are offline. Waiting for connection...</span>
          </div>
        </div>
      </ng-template>
    </ng-template>

    <ng-template #showItems>

      <div class="time-of-day-row" *ngFor="let todayItem of (todayItemsView$ | async); let i = index; trackBy: trackByTodayItems">

        <div class="row">
          <div class="col">
            <span><fa-icon [hidden]="!todayItemIsDone(todayItem.timeOfDay)" [icon]="faCheckCircle"></fa-icon> {{todayItem.timeOfDay}}</span>
          </div>
        </div>

        <div class="row tasks">
          <div class="col">
            <div class="form-check" *ngFor="let button of todayItem.tasks; let j = index; trackBy: trackByTodayItem">
              <input #checkbox class="form-check-input d-none" type="checkbox" [disabled]="false"
                     [checked]="button.done">
              <label class="form-check-label btn"
                     [ngClass]="checkbox.checked ? 'btn-success' : 'border rounded'"
                     (click)="setProgress(checkbox, $event, button.id, todayItem.timeOfDay)">
                {{ button.description }}
                <mat-progress-bar *ngIf="checkbox.disabled" mode="indeterminate"></mat-progress-bar>
              </label>
            </div>
          </div>
        </div>

      </div>

    </ng-template>

  </div>
</div>
