$btn-success-bg-color: #12ab49
$btn-success-border-color: $btn-success-bg-color

// app-today
\:host
  .container
    margin-top: 0.5rem
    padding: 1rem

    .col
      .row
        .add-task
          text-align: right

    .time-of-day-row
      padding-bottom: 1rem

      &:first-child
        margin-top: 0

      .row
        .col
          margin-top: 1rem

          .form-check
            display: inline-flex
            position: relative
            padding: 0

            .form-check-input
              &:not(checked)
                &[disabled] ~ .form-check-label,
                &:disabled ~ .form-check-label
                  color: black
                  cursor: auto
                  pointer-events: none

              &:checked
                &[disabled] ~ .form-check-label,
                &:disabled ~ .form-check-label
                  color: white
                  cursor: auto
                  pointer-events: none

            label
              position: relative

              .mat-progress-bar
                position: absolute
                width: calc(100% - 2 * 0.75rem)
                height: 0.125rem
                transition: opacity 250ms linear

              &.btn
                margin: 0.15rem

                &-success
                  border-color: $btn-success-border-color
                  background-color: $btn-success-bg-color

        span
          font-size: 1.4rem
          font-weight: 500
