@use 'app/components/auth-form/auth-form' as auth-form;
@use 'app/components/button/button' as button;
@use 'app/components/input/input' as input;
@use 'app/components/menu/menu' as menu;
@use 'app/components/menu/menu-item/menu-item' as menu-item;
@use 'app/components/rounds/rounds' as rounds;
@use 'app/components/skeleton/skeleton' as skeleton;
@use 'styles/typography-mixins' as typography-mixins;

@import 'styles/typography';
@import 'styles/overlay';
@import 'styles/layout';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {

  margin: 0;
  overflow: auto;
  font-family: $font-family;

  &.light {
    background: white;
    color: #09090A;
  }

  &.dark {
    background: #1A2536;
    color: #DFEBFF;
  }
}

a[href] {

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.input-group {

  position: relative;
  margin-bottom: 21px;

  .input-error {
    position: absolute;
    bottom: -21px;
  }
}

.input-error {
  font-size: 13px;
  margin-top: 2px;
  height: 18px;
  color: #F51512;
}

.action-buttons {
  display: flex;
  flex-direction: row-reverse;
}

table {

  border-collapse: collapse;

  thead {

    border-bottom: solid 1px;

    tr {
      th {
        font-size: 12px !important;
        padding: 11px 14px;
        @include typography-mixins.font-normal();
        text-align: left;
      }
    }
  }
}

tr {
  th {
    font-size: 14px !important;
    padding: 11px 14px;
    @include typography-mixins.font-normal();
    text-align: left;
  }
}

@mixin table($theme) {

  $font-family: map-get($theme, 'font-family');
  $thead-color: map-get($theme, 'thead-color');
  $thead-border-color: map-get($theme, 'thead-border-color');
  $tbody-color: map-get($theme, 'tbody-color');

  table {

    thead {

      border-bottom: solid 1px $thead-border-color;

      tr {
        th {
          color: $thead-color;
          font-family: $font-family;
        }
      }
    }
  }

  tr {
    th {
      color: $tbody-color;
      font-family: $font-family;
    }
  }
}

.light {

  a[href] {
    color: #2C6FDD;
  }

  @include table((
    font-family: $font-family,
    thead-color: #636363,
    thead-border-color: #636363,
    tbody-color: #09090A
  ));

  @include auth-form.theme((
    font-family: $font-family,
    color: #636363,
    color-active: #09090A,
    line-color: #636363
  ));

  @include button.theme((
    font-family: $font-family,
    primary-background: #DFEBFF,
    primary-color: #1A2536,
    primary-hover-background: #90BAFF,
    primary-hover-color: #09090A,
    secondary-background: white,
    secondary-color: #1A2536,
    secondary-hover-background: white,
    secondary-hover-color: #2C6FDD,
    warn-background: #D91715,
    warn-color: #DFEBFF,
    warn-hover-background: #F51512,
    warn-hover-color: #DFEBFF
  ));

  @include input.theme((
    font-family: $font-family,
    background-color: #F8F5F5,
    background-color-hover: #ECECEC,
    background-color-focus: #E4E4E4,
    color: #09090A,
    label-active-background: white,
    label-error-color: #F51512,
    line-color: #A3A3A3,
    line-color-error: #F51512,
    line-color-hover: #09090A,
    line-color-focus: #09090A,
    placeholder-color: #A3A3A3
  ));

  @include menu.theme((
    background: white,
    box-shadow-color: rgba(0, 0, 0, 0.25)
  ));

  @include menu-item.theme((
    background-hover: #D9D9D9
  ));

  @include rounds.theme((
    anchor-color: #09090A
  ));

  @include skeleton.theme((
    background-begin: #EFEFEF,
    background-end: #A3A3A3
  ));
}

.dark {

  a[href] {
    color: #DDEA32;
  }

  @include table((
    font-family: $font-family,
    thead-color: #9EA5B0,
    thead-border-color: #9EA5B0,
    tbody-color: #DFEBFF
  ));

  @include auth-form.theme((
    font-family: $font-family,
    color: #8C98AD,
    color-active: #DFEBFF,
    line-color: #8C98AD
  ));

  @include button.theme((
    font-family: $font-family,
    primary-background: #DFEBFF,
    primary-color: #1A2536,
    primary-hover-background: #90BAFF,
    primary-hover-color: #09090A,
    secondary-background: #1A2536,
    secondary-color: #DFEBFF,
    secondary-hover-background: #1A2536,
    secondary-hover-color: #90BAFF,
    warn-background: #D91715,
    warn-color: #DFEBFF,
    warn-hover-background: #FF6161,
    warn-hover-color: #DFEBFF
  ));

  @include input.theme((
    font-family: $font-family,
    background-color: #2A3C57,
    background-color-hover: #2A384F,
    background-color-focus: #243146,
    color: #DFEBFF,
    label-active-background: #1A2536,
    label-error-color: #F51512,
    line-color: #8E8E8E,
    line-color-error: #F51512,
    line-color-hover: #DFEBFF,
    line-color-focus: #DFEBFF,
    placeholder-color: #A3A3A3
  ));

  @include menu.theme((
    background: #1A2536,
    box-shadow-color: rgba(0, 0, 0, 0.25)
  ));

  @include menu-item.theme((
    background-hover: #2A384F
  ));

  @include rounds.theme((
    anchor-color: #DFEBFF
  ));

  @include skeleton.theme((
    background-begin: #808FA6,
    background-end: #2A3C57
  ));
}
