@use './app/components/ui/form-field/theme' as form-field-theme;
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/root';
@import 'styles/angular-material';

:root {
  --color: black;
  --color-active: var(--color);
  --color-inactive: #828282;
  --color-separator: #e0e0e0;
  --border-separator: 1px solid var(--color-separator);
}

body {
  color: var(--color);
  max-width: 1140px !important; // sass-lint:disable-line no-important
  margin: auto;
}

@include form-field-theme.theme ((
  underline-color-default: #8E8E8E,
  underline-color-hover: #1A2536,
  underline-color-focused: #1A2536,
  underline-color-error: #F51512,
  label-color-default: #A3A3A3,
  label-color-floating: #1A2536,
  label-color-error: #F51512,
  label-background-floating: #FFFFFF,
  background-default: #F8F5F5,
  background-hover: #ECECEC,
  background-focused: #E4E4E4,
  input-color: #09090A,
  placeholder-color: #A3A3A3,
  error-color: #F51512
));


.button[disabled], input[disabled], .disabled {
  cursor: default;
  pointer-events: none;
}

button {
  &:focus, &.focus {
    outline: 0;
    box-shadow: none;
  }
}

.text-dark {
  color: #212121 !important; // sass-lint:disable-line no-important
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.error {
  color: #f44336 !important; // sass-lint:disable-line no-important
}

.actions {
  margin-top: 4px;

  button {
    margin: 0.5rem;
  }
}

.form-group {
  display: block;
  width: calc(100% - 2rem);
  margin: 2rem auto 0;
}

.text-center {
  text-align: center;
}

a, a:not([href]):not([class]) {
  color: #0066ff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.example-spacer {
  flex: 1 1 auto;
}

.opacity-loading {
  animation-name: opacity-loading-keyframes;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes opacity-loading-keyframes {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.45;
  }
  100% {
    opacity: 1;
  }
}

.invisible-text {
  opacity: 0;
  color: white;
}
