<h1 mat-dialog-title>Next time of day</h1>

<div [formGroup]="timeOfDayForm">
  <mat-form-field>
    <mat-label>Time of day</mat-label>
    <input autocomplete="off" matInput formControlName="timeOfDay">
    <mat-hint align="start">
      <strong>Length 1 to 20 without '/'</strong>
    </mat-hint>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button type="submit" [disabled]="timeOfDayForm.invalid" (click)="addTimeOfDay()">Add</button>
  </div>
</div>
