.app-form-field {

  display: inline-flex;
  flex-direction: column;

  .form-field {

    display: inline-flex;
    flex-direction: column;
    background: var(--gray-10);
    border-top-left-radius: 0.1875rem; // 3
    border-top-right-radius: 0.1875rem; // 3
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 -1px 0 0 var(--gray-700);
    transition: 0.1s;
    cursor: text;

    &:hover {
      background: var(--gray-100);
      box-shadow: inset 0 -1px 0 0 var(--steel-blue-990);
    }

    .label {

      position: absolute;
      transition: 0.1s;
      top: 1rem;
      left: 1rem;
      cursor: inherit;
      color: var(--steel-blue-990);

      &.label-floating {
        top: 0.3125rem; // 5
        font-size: 0.6875rem; // 11
      }
    }

    .content-wrapper {

      padding-inline: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;

      input {

        outline: none;
        background: transparent;
        border: none;
        width: 100%;
        color: var(--gray-990);

        &::placeholder {
          color: var(--gray-650);
        }
      }

      &.hidden-placeholder {

        input::placeholder {
          color: transparent;
          user-select: none;
        }
      }
    }

    &.form-field-focused {
      background: var(--gray-200);
      box-shadow: inset 0 -2px 0 0 var(--steel-blue-990);
    }

    &.ng-invalid.ng-touched {

      box-shadow: inset 0 -1px 0 0 var(--crimson-red-600);

      .label {
        color: var(--crimson-red-600);
      }
    }

    &.ng-invalid.ng-touched.form-field-focused {
      box-shadow: inset 0 -2px 0 0 var(--crimson-red-600);
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      opacity: 0.6;
    }
  }

  .error-wrapper {
    height: 22px;
  }
}

html[data-theme="dark"] {

  .app-form-field {

    .form-field {

      background: var(--steel-blue-700);
      box-shadow: inset 0 -1px 0 0 var(--gray-700);

      &:hover {
        background: var(--steel-blue-800);
        box-shadow: inset 0 -1px 0 0 var(--sky-blue-100);
      }

      .label {
        color: var(--gray-650);
      }

      .content-wrapper {

        input {

          color: var(--sky-blue-100);

          &::placeholder {
            color: var(--gray-650);
          }
        }
        &.hidden-placeholder {

          input::placeholder {
            color: transparent;
          }
        }
      }

      &.form-field-focused {
        background: var(--steel-blue-900);
        box-shadow: inset 0 -2px 0 0 var(--sky-blue-100);
      }

      &.ng-invalid.ng-touched {

        box-shadow: inset 0 -1px 0 0 var(--crimson-red-600);

        .label {
          color: var(--crimson-red-600);
        }
      }

      &.ng-invalid.ng-touched.form-field-focused {
        box-shadow: inset 0 -2px 0 0 var(--crimson-red-600);
      }
    }
  }
}
